[2020-05-19 04:38] mattstauffer opened #2 "Error when exiting installer UI: arg 1 passed to install() must be string, null given, called in installcomand@41"

[2020-05-19 04:38] #2 closed, assigned to nobody

[2020-05-19 04:40] mattstauffer opened #3 "Add a list command showing all installed-by-takeout services"

[2020-05-19 05:27] mattstauffer opened #4 "Fix Docker writeLn showing as errors"
![image](https://user-images.githubusercontent.com/151829/82288150-df009b80-996f-11ea-99fe-444107957617.png)

[2020-05-19 05:29] mattstauffer opened #5 "Bug: Install command just hangs multiple times on my machine (not on Jose's)"
![image](https://user-images.githubusercontent.com/151829/82288303-30a92600-9970-11ea-8448-0fbd253752d9.png)

[2020-06-06 03:27] #5 closed, assigned to nobody

[2020-06-06 03:29] mattstauffer opened #7 "Don't allow running `install` on a service that is already installed"
Right now it'll show an error. We should disallow it, without it throwing a gross error, until we're ready for them to be able to potentially run more than one instance at different versions.

<img width="992" alt="image" src="https://user-images.githubusercontent.com/151829/83935152-bd335100-a784-11ea-86eb-2abe6ec41549.png">

[2020-06-06 04:37] mattstauffer opened #9 "Update volume names to include the version"
1. `takeout install meilisearch`
2. that assumes version is `latest`
3. get whatever version `latest` is going to return by Jose's magic code
4. then we name the container `TO-meilisearch-{version}` (e.g. `TO-meilisearch-5.7`)
5. In all our lists we can just show the full name
6. But when deleting, if I pass in `meilisearch` it will just delete any container that matches `TO-meilisearch-*` UNLESS

[2020-06-21 03:43] mattstauffer opened #12 "Show whether installed-by-takeout services are running or not in list:services"

[2020-06-21 03:43] #3 closed, assigned to nobody

[2020-06-21 03:48] mattstauffer opened #13 "Add an "uninstall" command which works just like install, but the action is the inverse"

[2020-06-21 03:51] mattstauffer opened #14 "Test Docker running containers list"

[2020-06-21 04:33] #13 closed, assigned to nobody

[2020-06-23 15:38] #9 closed, assigned to nobody

[2020-06-23 15:39] mattstauffer opened #16 "Add a test for the install command"

[2020-06-23 15:39] mattstauffer opened #17 "Add a test for the uninstall command"

[2020-07-14 22:51] #4 closed, assigned to nobody

[2020-07-22 21:42] mattstauffer opened #21 "Don't allow installing a service with a port that's already allocated"
To reproduce this bug:
- Install Meilisearch
- Install Meilisearch but a different version (but use the same port)

Get this error:

![image](https://user-images.githubusercontent.com/151829/88231914-f9424880-cc42-11ea-8cea-796336cf4be8.png)

We need to check whether the port you've requested is already allocated, and if so, give an error and prompt you to pick a different port.

[2020-07-23 19:11] #16 closed, assigned to nobody

[2020-07-24 04:06] #21 closed, assigned to josecanhelp

[2020-07-24 04:07] #7 closed, assigned to nobody

[2020-07-24 17:56] #14 closed, assigned to nobody

[2020-07-28 15:06] mattstauffer opened #27 "Prompt user to choose which service to uninstall if multiple services match the parameter passed to "uninstall" command"

[2020-07-29 15:39] mattstauffer opened #28 "Build out the rest of the services we plan to launch with"
- [x] MySQL
- [x] Postgres
- [x] MSSQL
- [x] ElasticSearch
- [x] MeiliSearch
- [x] Redis
- [x] Memcached

[2020-07-31 23:19] #27 closed, assigned to nobody

[2020-07-31 23:32] #12 closed, assigned to nobody

[2020-08-11 00:47] mattstauffer opened #29 "Allow users to add custom services via local services and/or Composer-loaded service packages"

[2020-08-11 00:47] mattstauffer opened #30 "Display the volume the container was using after the uninstall (and possibly allow them to delete volumes here and in other places)"

[2020-08-11 00:47] mattstauffer opened #31 "Investigate other potential delivery options like Homebrew or NPM"

[2020-08-11 00:47] mattstauffer opened #32 "Investigate: Can we provide users tab completion on commands like install and uninstall?"

[2020-08-11 00:47] mattstauffer opened #33 "Add a "self-remove" command that uninstalls all Takeout-installed services and then removes itself -- TBD name and whether this is a good idea"

[2020-08-11 00:47] mattstauffer opened #34 "Fix the "help" and "running ./takeout with no params" situations to be consistent and great, like Lambo (or like Lambo is trying to be eventually)"

[2020-08-11 00:47] mattstauffer opened #35 "Investigate whether we can add features to bring the Docker service down or up, so we can temporarily save RAM when not using these services"
`test -z "$(docker ps -q 2>/dev/null)" && osascript -e 'quit app "Docker"'`

`open --background -a Docker`

We can utilize these commands to perform this functionality.

[2020-08-11 00:48] mattstauffer opened #36 "Consider re-writing in Bash (for better Homebrew delivery?)"

[2020-08-11 00:48] mattstauffer opened #37 "Test & potentially provide Linux & Windows compatibility"

[2020-08-11 00:48] mattstauffer opened #38 "Display port(s) on List Services command"

[2020-08-11 00:51] mattstauffer opened #39 "Finish Installer UI test"
Finish InstallerUiTest

From the original notes there:

        // @todo: Choose the exit option from the UI
        // @todo: ask nuno if this is possible
        // @todo: Assert ... true is true?? ... to make sure we don't get any exceptions

[2020-08-11 04:31] mattstauffer opened #40 "Find all the @todo's in code and move them in here"

[2020-08-11 04:31] mattstauffer opened #41 "Publish to Composer and test using global Composer install"

[2020-08-11 04:57] #28 closed, assigned to josecanhelp

[2020-08-11 15:54] mattstauffer opened #43 "Finish adding type hints and return type hints to everything"

[2020-08-11 15:54] mattstauffer opened #44 "Add an "afterInstall" message optionally for each service giving instructions, etc. (and one for "afterUninstall"?)"
No AfterInstall command. Only AfterUninstall.

[2020-08-18 03:12] mattstauffer opened #45 "Test "MicrosoftDockerTags" getLatestTag"

[2020-08-18 03:13] mattstauffer opened #46 "Test "DockerTags" getLatestTag"

[2020-08-18 03:38] mattstauffer opened #47 "Display STDOUT Docker errors returned on install commands"
E.g.
Installed a meilisearch service, with an attached volume, using meilisearch v0.12
Later uninstalled it
Later installed meilisearch again, which now gave me v0.13
meilisearch tried to run the new version on the old volume
And got this error:

Error: Cannot open database, expected MeiliSearch engine version: <0.12.0, current engine version: 0.13.0

But Takeout didn't show me the error. Instead,

[2020-08-18 04:43] josecanhelp opened #49 "Allow services to register an AfterEnable Command, and build them for MSSQL, MySQL, & Postgres"
MSSQL: warning about no attached volumes, and that username is `sa`
Postgres: default username is `postgres`
MySQL: default username is `root`
Mailhog: valet proxy mailhog http://127.0.0.1:8025 / visit mailhog.test

[2020-08-18 04:45] josecanhelp opened #50 "Make conflict errors look nicer."
Currently, if there is a container with the same auto-generated name being used, then it will display the full error message on the screen. Maybe add a check for name conflict.

[2020-08-21 04:34] #34 closed, assigned to nobody

[2020-08-21 04:34] #30 closed, assigned to nobody

[2020-08-21 04:34] #38 closed, assigned to nobody

[2020-08-21 04:34] #44 closed, assigned to nobody

[2020-08-21 04:34] #40 closed, assigned to nobody

[2020-08-21 04:34] #43 closed, assigned to nobody

[2020-08-21 04:35] mattstauffer opened #51 "Fix `./takeout help` to show our help command, not Symfony's"
https://github.com/tightenco/lambo/issues/98

[2020-08-21 04:46] #51 closed, assigned to nobody

[2020-08-24 08:18] #45 closed, assigned to nobody

[2020-08-24 19:12] #46 closed, assigned to nobody

[2020-08-25 01:17] fideloper opened #53 "MySQL 8: Change default auth on bootup via docker command"
MySQL 8 requires (still, I believe!) the use of the `--default-authentication-plugin=mysql_native_password` flag to work with Laravel (and really just stay inline with user expectations).

One way of doing that would be to edit the default service templates to add a `$cmd` variable, for example, MySQL's:

[code]

Then we'd have to handle allowing a custom `$cmd` to be used when starting a containe

[2020-08-25 18:03] mattstauffer opened #55 "Write documentation"

[2020-08-25 18:25] josecanhelp opened #57 "Add commands to start and stop docker manually."
Something like `docker:on`

It would only need to run for windows and mac systems.

[2020-08-25 18:27] mattstauffer opened #58 "Consider adding a `ports` debugger command"
If someone is surprised by the ports taken up on their machine, we may be able to simplify discovering what's running there.

[2020-08-25 18:34] #55 closed, assigned to nobody

[2020-08-25 18:38] mattstauffer opened #59 "On multiline output, add indentation for later lines"
![image](https://user-images.githubusercontent.com/151829/91214085-97ad4800-e6e0-11ea-8bd0-c0cff34f409d.png)

In the above image, we would want to indent the "Pulling" lines to match the other lines' start points.

[2020-08-25 18:40] mattstauffer opened #60 "Fix output for `list` command to work when there's a comma in the `ports` output"
![image](https://user-images.githubusercontent.com/151829/91214385-fd99cf80-e6e0-11ea-99a2-747cbd6ef0de.png)

Steps to reproduce:

1. `takeout install mysql` / `3307` / `5.7` / `mysql_data` /
2. `takeout install mysql` / `3308` / `8.0` / `mysql_data` /

[2020-08-26 19:45] ju5t opened #61 "Declare the entire environment in code"
Takeout looks awesome! Thanks for the presentation.

We're using a similar approach, but instead of Takeout (why wasn't it there yet..) we're using Docker Compose. The biggest reason for Docker Compose is its declarative configuration.

This makes sure everyone is using the same versions. And you can commit it. This has a lot of benefits.

- You don't have to tell which versions your developers ne

[2020-08-26 19:47] weavdale opened #62 "Install fails with Guzzle 7.0.1 installed"
~ composer global require tightenco/takeout

Changed current directory to /Users/dalew/.composer
Using version ^1.0 for tightenco/takeout
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for tightenco

[2020-08-26 19:50] sheldonkotyk commented on #62
All I have is valet and the Laravel installer globally.

[2020-08-26 19:53] opejovic opened #63 "Install fails - illuminate/container v6.6.1"
`composer global require tightenco/takeout`

 Problem 1
    - Installation request for tightenco/takeout ^1.0 -> satisfiable by tightenco/takeout[v1.0.0].
    - Conclusion: remove illuminate/container v6.6.1
    - Conclusion: don't install illuminate/container v6.6.1
    - tightenco/takeout v1.0.0 requires laravel-zero/framework ^7.0 -> satisfiable by laravel-zero/framework[v7.0.0, v7.1.0, v7.2.0,

[2020-08-26 19:55] #60 closed

[2020-08-26 19:56] mattstauffer commented on #63
@opejovic We're using the latest version of Laravel Zero and you have a global dependency that's attached to a lower version of Laravel. Can you update your other global dependencies?

Also, we're hoping to use a tool Laravel Zero exposes that allows us to bundle the install so we don't have to do that in the future.

[2020-08-26 19:56] #63 closed

[2020-08-26 19:57] mattstauffer opened #64 "Build distribution so we can avoid global dependency conflicts"
Addresses #62, #63

https://laravel-zero.com/docs/build-a-standalone-application/

[2020-08-26 19:58] mattstauffer commented on #62
Please update your global dependencies and then try again. Also will soon be addressed by #64.

[2020-08-26 20:04] filipac commented on #62
@mattstauffer updated all global dependencies but still nope :) all i have locally installed, latest versions for all:
[code]

[2020-08-26 20:06] OliverTe commented on #62
Same here. Issue is:
- tightenco/takeout v1.0.0 requires guzzlehttp/guzzle ^6.5 -> satisfiable by guzzlehttp/guzzle[6.5.0, 6.5.1, 6.5.2, 6.5.3, 6.5.4, 6.5.5].

Have 7.0.1 installed, but ^6.5 is not satisfied with 7.0.1

[2020-08-26 20:07] edalzell opened #65 "Error when trying to run: 'array_merge(): Expected parameter 1 to be an array, null given'"
[code]

Latest version of macOS and PHP.

[2020-08-26 20:12] filipac commented on #65
[code]
same

[2020-08-26 20:15] filipac commented on #65
@mattstauffer something funky is happening, the error comes from Expose which is installed globally. If I remove that line from Expose, i got another error but still from Expose:

[code]

[2020-08-26 20:16] edalzell commented on #65
I have Expose installed globally as well.

[2020-08-26 20:29] filipac commented on #65
Opened https://github.com/tightenco/takeout/pull/67 and this should make it work with any other globally installed package.

[2020-08-26 20:30] filipac commented on #62
Opened #67 and this should make it work with any other globally installed package.

[2020-08-26 20:33] jonsugar commented on #62
The issue is caused if the Laravel installer (or another package that requires it) is installed before Takeout. The Laravel installer requires guzzle ^6.0|^7.0 and installs 7.0 if it can. If Takeout is installed first then Guzzle 6.5 will be installed and the Laravel installer will just use that.

For now, you can remove the Laravel installer install Takeout then re-install the Laravel installer.

[2020-08-26 20:36] likeadeckofcards opened #68 "Restart docker images after computer/docker restart"
What is the best way to restart docker images after a computer/docker restart?

[2020-08-27 00:40] nunomaduro commented on #65
For some reason Expose libraries are being loaded when we try to execute Takeout. cc @marcelpociot.

Anyways, should be fixed with: https://github.com/tightenco/takeout/issues/64.

[2020-08-27 01:20] #64 closed

[2020-08-27 01:20] #65 closed

[2020-08-27 01:20] #41 closed

[2020-08-27 01:20] #62 closed

[2020-08-27 02:17] tcampbPPU commented on #68
For traditional docker images spun up should be able to add the additional policy via `$ docker update`
So, for example, list your docker images
[code]

Then obtain the container ID for the image you want to update  and update its policy
[code]
Also, make sure you have the setting "Start Docker Desktop when you log in" enabled

[2020-08-27 08:55] morloderex commented on #53
@fideloper This is not entirely true.

As far is i know if you are using PDO_MYSQL with PHP above 7.4.4. The new authentication plugin should not be any issue. I have fallowed along with PHP internals as I myself have had issues with this.

The reason it was not supported in prior versions was due to the implementation been depending on the hash extension which is why the php internal choose to bu

[2020-08-27 08:57] voidgraphics opened #73 "SQLSTATE[HY000] [2054] The server requested authentication method unknown to the client"
Hello! Thank you for this wonderful tool.

I am running into a pickle. Steps to reproduce are very straightforward:

1. Create a mysql container with `takeout enable mysql`. I gave it port 3307 (because it complained 3306 was taken, not sure why, since I uninstalled my previous local mysql installation), and also gave it a custom password. It seems to boot up fine, and I am able to connect to it w

[2020-08-27 09:20] voidgraphics commented on #73
It seems to have to do with the password type in mysql. Running [these commands](https://github.com/laradock/laradock/issues/1392#issuecomment-409612243) allowed Laravel to connect to the database and run the migrations correctly.

According to [this reply](https://github.com/laradock/laradock/issues/1392#issuecomment-563011691), this might actually be a compatibility bug between a recent mysql ve

[2020-08-27 09:32] danielebarbaro opened #74 "php 7.2 support"
Hi, in several projects i had to use php 7.2 and in this specific case i'm using a Laravel 7.26.

<img width="572" alt="Screenshot 2020-08-27 at 10 33 38" src="https://user-images.githubusercontent.com/4376886/91417461-1fb25f80-e851-11ea-9b7d-ddfccc3e7043.png">

Allow a trailing comma in function calls was introduced in 7.3 [https://wiki.php.net/rfc/trailing-comma-function-calls]

[2020-08-27 09:44] voidgraphics commented on #73
This is fixed by upgrading your PHP version to 7.4

If you are using valet, run `valet use php@7.4`

[2020-08-27 09:44] #73 closed

[2020-08-27 14:15] abenettt opened #76 "Use the official elastic registry for elasticsearch"
Elastic hosts their docker images on `docker.elastic.co`, we should consider pointing there when looking for the service.

[2020-08-27 14:23] dducro opened #77 "Include the volume name in the container name to prevent duplicates"
First of all, thanks for creating this easy tool!
This already was exactly my work flow, creating docker containers for just the services like ElasticSearch, Redis etc. This makes maintaining them a lot easier! :D

I'd like to create a separate Elastic search and Redis container for each project.
However, if they both use the same version there is a name conflict.

This could be solved by includin

[2020-08-28 03:01] riipandi opened #79 "False error detection: Docker Not Running"
Hi,

Thank you for creating another great toolkit for PHP developer. I just installed takeout, my Docker already running but got this message: `ERR  Docker is not running.`

Does Takeout need a specific container to be installed first?

<img width="846" alt="Screenshot 2020-08-28 at 09 56 13" src="https://user-images.githubusercontent.com/921834/91516137-ea6f4580-e914-11ea-8be6-59edcde960be.png">

[2020-08-28 03:14] riipandi commented on #79
My bad!

Solved by running: `open --background -a Docker`

[2020-08-28 03:14] #79 closed

[2020-08-28 04:01] #74 closed

[2020-08-28 04:01] mattstauffer commented on #74
Thanks @danielebarbaro! Please let me know if you see any more issues.

[2020-08-28 04:02] mattstauffer commented on #77
I think this is a great idea! I'm trying to decide whether it's a breaking change or not. I.. sort of think it isn't? So.. we may be able to add this in a dot release.

[2020-08-28 09:26] dducro commented on #77
Thanks for your answer! :)
I see that not all services have a volume, like: MsSql, Memcached, MailHog.
This means the container name can't always include the volume in its name.
In these cases it would still be nice to optionally be able to provide a name to make the containers unique.
I don't think it's a breaking change because all containers starting with `TO--` are listed an all commands are d

[2020-08-28 14:40] jyrkidn commented on #37
Hey, I'm working daily on Ubuntu and eager to test this out. I'm going to make a fork and see where I end up. Since I'm already stuck on this line https://github.com/tightenco/takeout/blob/fc068703fc6423ca880cc2ce7c2a85d81b7589b5/app/Shell/Docker.php#L113

[2020-08-28 14:58] jyrkidn commented on #37
Made some progress already, this was the only thing I had to change: https://github.com/jyrkidn/takeout/commit/aea9b092a114dd5b8944473e6d5c1fcd6a9a8b91

And I was able to enable the mysql service. I'll test further in the next days/weeks with other services.

[2020-08-28 18:08] armancodes commented on #37
@mattstauffer It would be great if Takeout will be available on Windows.

[2020-08-28 18:15] mattstauffer commented on #37
Thanks!! I actually have a PC laptop in the mail that I plan to use to test it on Linux and windows!

[2020-08-29 06:21] ian-nisbet opened #85 "Enable Xpack security in elasticsearch container"
Is there a simple way to enable xpack security inside the elasticsearch container?
Perhaps there can be a choice of enabling elasticsearch-with-ssl and elasticsearch-without-ssl.

[2020-08-29 12:10] chinleung opened #86 "How to get Memcached working with Takeout?"
I've enabled the Memcached service with the default options using:

[code]

And I can see the service running using `takeout list`:

[code]

However, when I attempt to set a cache using tinker:

[code]

It is not working unless I start the service with Homebrew `brew services start memcached`.

[2020-08-29 12:23] jonsugar commented on #57
See, related discussion https://github.com/tightenco/takeout/pull/71#issuecomment-683266994.

[2020-08-29 16:59] josecanhelp commented on #77
@dducro MsSql could benefit from a volume, but the official image has trouble mounting docker volumes for some reason. In order to still have the service available in Takeout, we needed to disable volumes for that service.

I have seen some tricks to make volumes work with MsSql, but for now it's not available. So you can bring up the container, but as soon as you destroy it, the data will be remo

[2020-08-31 13:47] AlexMartinFR opened #88 "Group the services list by categories"
## Issue:

Takeout currently sorts the services list by alphabetical order.
As more and more services will be added to the list, it might become a bit confusing to browse.

## Suggestion:

Each service could have a `category` property, which could be used to at least group similar services.

Examples of categories:
- database
- storage
- search
- cache
- mail

## Improvement:

The`takeout enable`

[2020-08-31 14:21] mattstauffer commented on #88
I don't know if I want extra steps, but I do like the idea of grouping.

I wonder if there's a way we could build a faster UI or a UI with more information available without adding an extra step?

[2020-08-31 14:29] mattstauffer commented on #77
The only way I can think of so far is to add an additional prompt to the setup that's basically the "nickname" or something, which would default to the volume name, and the nickname would always be appended to the base name (e.g. `TO--mysql--5.7--nicknamehere`)

[2020-08-31 14:33] dducro commented on #77
That would be perfect! This way the user could have an instance per project if he so desires.
I also use the docker desktop app to list the containers and turn them on/off, to see the project name in the container name would be a great improvement! :)

[2020-08-31 15:30] mattstauffer commented on #77
@dducro OK, it's a plan!

[2020-08-31 16:05] voidgraphics commented on #61
I'm a Docker noobie, I admit first and foremost, so take my opinion with a grain of salt.

It sounds like Docker Compose and Takeout would become identical tools, if they both had that feature. Which makes me think, why not just use Docker Compose, then?

To me, the value in Takeout is that it's an extremely simple tool, where you can get started with Docker by just replacing your local mysql inst

[2020-08-31 16:09] PHLAK commented on #37
@mattstauffer Do you have any idea offhand of what needs to be done to support Linux? I may look into this and having a place to start would be helpful.

[2020-08-31 16:15] AlexMartinFR commented on #88
I think [cli-menu's separators](https://github.com/php-school/cli-menu/blob/master/README.md) could be a good start:

![image](https://user-images.githubusercontent.com/19224681/91741874-9fc02880-ebb5-11ea-8b00-b4abbca68c5d.png)

Extra steps would only be necessary when the service list begins to be too long. The same way multi-steps forms are only relevant in some cases.

[2020-08-31 16:25] nehero commented on #77
👋  Hey! I decided to take a stab at this in #89

[2020-08-31 16:39] mattstauffer commented on #88
Yah, I like that!

[2020-08-31 16:43] mattstauffer commented on #37
@PHLAK Hopefully very little. My guess is the main things will be:

1. The check that ensures Docker is installed and running
2. The port checks

[2020-08-31 16:59] mattstauffer commented on #61
Yep, I agree with @voidgraphics--Docker composer is great but it's a bit more complex and higher-cost than Takeout is.

Thanks for bringing up the conversation, @ju5t!

[2020-08-31 16:59] #61 closed

[2020-08-31 16:59] AlexMartinFR commented on #88
Bear with me here, as this would need serious refactoring and is for now only generating the menu, but here is the raw idea:

[code]

## Terminal preview:

![image](https://user-images.githubusercontent.com/19224681/91745012-9d140200-ebba-11ea-8e2f-7caea76338eb.png)

[2020-09-01 11:53] s1rc opened #90 "Build new tagged build to include added services"
Currently tag 1.1.0 doesn't include the new services: Minio and InfluxDB.

We can checkout `dev-main` in composer and `php app:build` but it would be great to have the new services included in the compiled binary with a new tag, i.e. 1.2.0.

[2020-09-01 12:34] ju5t commented on #61
In all fairness, I disagree. I think I didn't explain it properly.

I wouldn't argue that Takeout needs all the features Docker Compose has. I used it to illustrate parts of what I would like to see in Takeout. Version pinning and starting the dependencies all at once makes sense.

[code]

What's the benefit of Takeout if you can't pin a requirement?

[2020-09-02 05:38] josecanhelp commented on #61
@ju5t starting all dependencies at once and pinning versions is exactly what docker-compose is so good at.

Can you give me an example workflow of how you think those features would be used in takeout without confusing the newcomers to docker?

[2020-09-02 05:39] #35 closed

[2020-09-02 05:58] josecanhelp opened #91 "Consider custom images that are managed by the user or passing through custom config files during the run process."
Example:
We currently offer elasticsearch, but some users may want to enable Xpack by passing through a custom `elasticsearch.yml` file.

Different Methods to solve this:
- include a volume flag to pass a file into the container when bringing it up via the run command
- allow users to manage Dockerfiles locally that can be used to build custom images and run them via takeout

[2020-09-02 05:59] josecanhelp commented on #85
In the current state, there isn't a way to do this simply. However, this brings up a great conversation about how we can either customize images (adding a build layer?) or pass config files into the container during the run process.

I created a backlog issue for this in #91.

Thanks for taking Takeout for a spin!

[2020-09-02 05:59] #85 closed

[2020-09-02 06:12] josecanhelp commented on #86
Sorry about that! It looks like the port number was mismatched in our service class. I have a PR incoming to fix this.

[2020-09-02 09:13] ju5t commented on #61
`takeout` will set up a new Docker container version X.Y.Z, sets up port mapping and uses a volume for data storage. It wraps around `docker run`. Which is great. Not just for newcomers, I think it can be a game changer.

Let’s say we have a simple application. It runs Laravel and we only use MySQL 5.x. We have 5 developers and they all run `takeout`. They pick MySQL 5.x and everyone’s happy.

A f

[2020-09-02 11:09] njames opened #94 "What's stopping this from being run on linux?"
What is the mac only component and how can we get around that ?

[2020-09-02 12:06] mattstauffer commented on #94
There's nothing Mac only except Jose's and my local dev environment. We welcome
Help testing and fixing it for other environments. Closing as duplicate of #37

[2020-09-02 12:07] #94 closed

[2020-09-02 12:43] chinleung commented on #86
Thanks @josecanhelp !

[2020-09-03 14:17] #86 closed

[2020-09-03 16:59] #90 closed

[2020-09-03 16:59] mattstauffer commented on #90
https://github.com/tightenco/takeout/releases/tag/v1.2.2

Apologies, life got crazy for a bit. :)

[2020-09-03 17:06] mattstauffer opened #96 "Allow for `null` password for MySQL"
Use `MYSQL_ALLOW_EMPTY_PASSWORD` instead of `MYSQL_ROOT_PASSWORD` or whatever the other is

[code]

[2020-09-03 18:03] nehero commented on #50
I have a fix for this ready once #89 is merged

[2020-09-03 19:22] wrtisans opened #97 "Errors after update to latest version"
i'm having this errors everywhere where i wrote takeout, im using php homebrew and the problem is only with this package

PHP Warning:  require_once(phar:///Users/ds/.composer/vendor/tightenco/takeout/builds/takeout/bootstrap/app.php): failed to open stream: phar error: "bootstrap/app.php" is not a file in phar "/Users/ds/.composer/vendor/tightenco/takeout/builds/takeout" in phar:///Users/ds/.comp

[2020-09-03 20:08] PHLAK commented on #37
I just did a quick test and you're right @mattstauffer, the check to ensure Docker is running fails. The problem is in `App\Shell\Docker::isDockerServiceRunning()` where it does

[code]

If I change this to

[code]

it works as expected and I was able to get a container up and running.

I believe 'docker info' should work on Mac but don't have one to verify. If someone is able to verify this I'd b

[2020-09-03 20:15] adam-apg commented on #97
@wrtisans Same issue for me.  I was able to get things working by reverting back to 1.2.0.

[2020-09-03 20:42] mattstauffer commented on #97
`1.2.0` is not actually a new build, sadly. It was a mistake.

Let me take a look and see if I can solve this one.

[2020-09-03 21:02] #97 closed

[2020-09-04 00:08] mattstauffer opened #98 "Add `beanstalkd` as a service"

[2020-09-04 03:10] mattstauffer commented on #37
@PHLAK Thanks! I verified and it worked, so I put up a PR with you as co-author... gotta share that credit! Thanks so much!

[2020-09-04 03:12] mattstauffer commented on #37
Looks like we also have a PR to add Windows compatibility for that check! I'll refactor, test, and merge that once #100 is merged.

https://github.com/tightenco/takeout/pull/93/files

[2020-09-04 03:49] PHLAK commented on #37
I just checked and `docker info` also works as expected on Windows.

[2020-09-04 04:29] josecanhelp commented on #96
Should we still default to "password" or default to an empty password?

If we default to "password", instead of adding another prompt, should we allow users to enter "none" and we can check for that string and add the `MYSQL_ALLOW_EMPTY_PASSWORD` flag?

[2020-09-08 06:54] sinnbeck commented on #37
I am working on a laravel package inspired by Takeout and have gotten it to work on all 3 platforms. To get it working on windows you need to reformat all your command strings from `"$variable" to `"${:$variable}"`

This will make it work correctly on all 3 platforms

For example for mysql, it should be
[code]
https://symfony.com/doc/current/components/process.html#using-features-from-the-os-shell

[2020-09-08 22:41] mattstauffer commented on #37
@sinnbeck Great--thanks so much for your help!

[2020-09-08 22:51] mattstauffer commented on #98
Closed via 343cfe121d5559802e4eb7f9450a3b87cda2c2d2

[2020-09-08 22:51] #98 closed

[2020-09-09 16:24] mattstauffer opened #104 "Fix extra line added at the end of each Shell output even when there is no output"
Introduced here:

https://github.com/tightenco/takeout/commit/c2ffacb5f84961aca4a91b20aa5b359bf88bd732#diff-680509d1a1222fbb2a142516fb791c85R28

Need to only do that line if there was actual output.

[2020-09-09 16:28] mattstauffer opened #105 "Test whether Minio keys are being set correctly"
![image](https://user-images.githubusercontent.com/151829/92626441-e8ec3880-f297-11ea-99a9-60e1f463a86b.png)

Saw this error when I passed in the default creds; want to test to see if we still get that error when we choose non-default creds

[2020-09-09 16:29] mattstauffer commented on #105
Tried that and now got this error???

![image](https://user-images.githubusercontent.com/151829/92626548-0ae5bb00-f298-11ea-8e7a-d6d98fdaa76f.png)

[2020-09-09 16:30] #104 closed

[2020-09-09 16:33] mattstauffer opened #106 "Build a Latest tag logic for Minio"
https://hub.docker.com/r/minio/minio/tags

Their tags will have different logic, like Microsoft

[2020-09-09 16:36] mattstauffer commented on #105
https://stackoverflow.com/questions/61343885/minio-unable-to-initialize-server-switching-into-safe-mode-unable-to-initialize

... not super helpful

[2020-09-09 17:18] mattstauffer commented on #91
Super interesting. I think I'm most interested in the custom dockerfiles, but what do you think the preferred option is when someone really just wants to make a small config?

[2020-09-10 08:33] bsormagec opened #107 "MongoDB Support"
Hello friends,

Can you add MongoDB Support please.

[2020-09-10 14:42] josecanhelp commented on #91
It really depends on the image itself. Sometimes they accept arguments/flags, sometimes you literally have to build your own custom image.

A thought crossed my kind that we could (if needed) generate a dockerfile based on prompts from takeout.

[2020-09-11 16:18] calebporzio opened #109 "Does "Disabling" delete my database?"
Hey Takeout folk, I have a question that may belong as an item in the FAQs or not. (Happy to PR it if it does)

If I `takeout disable mysql`, will it delete my actual database? Like not the docker container/server/thing, but the actual database with all my data.

My guess would be that if I have databases created with the connection and I disable, then I re-enable on that version I would have that

[2020-09-11 16:37] mattstauffer commented on #109
Hey Caleb!

Your data will stick around! By default almost all of our services use a "volume" to attach your data to for exactly this reason.

So, when you disable the MySQL service, that volume--with all your data in it--will just sit there quietly. And when you re-enable, as long as you attach it to the same volume, all your data will still be there.

Great idea about documenting this. Thanks!!

[2020-09-11 16:38] dela-dels commented on #109
@calebporzio I don't think so. Based on a video I watched of Matt and Jose, the volume on which the MySQL data is on still resides on your computer.

[2020-09-11 16:38] mattstauffer commented on #109
(And thanks so much for your kind words!!)

[2020-09-11 17:00] calebporzio commented on #109
Got it, perfect!

[2020-09-11 17:00] #109 closed

[2020-09-11 17:06] mattstauffer commented on #109
@calebporzio RE This:

If you'd like to that'd be great, but if not I'll handle it--your call. Thanks again!

[2020-09-11 17:07] calebporzio commented on #109
Done: #110

[2020-09-11 23:45] mattstauffer opened #112 "Update `stopDockerService` method to work on Linux and Windows"
Current version is clearly (and knowingly) macOS only:

[code]

[2020-09-12 07:50] #107 closed

[2020-09-12 09:56] plakhin opened #114 "Default MySQL password"
Documentation lacks of information about username/password and database name that should be provided in .env file of Laravel app. Or some steps needed to login as root user, create db and user. Can you provide this information please?

[2020-09-12 13:20] thecrypticace commented on #114
The MySQL password is provided / can be changed when enabling the mysql service. The default is `password`. There's no default database created. You'll need to connect using a database GUI and create one.

You can use the following details in your `.env` file (assuming you have used the defaults):
[code]

[2020-09-12 13:40] plakhin commented on #114
Thanks for response! Already found that settings. But it would be nice to have this in readme as takeout is positioned as a simple solution and my front-end dev wasn't able to set it up. Since I didn't see the first steps, it took some time to find out that default password.

[2020-09-12 13:40] #114 closed

[2020-09-14 01:04] mattstauffer commented on #53
@morloderex OK, so I'm about to merge #116--could you clarify?

Are you suggesting that there's any downside to including the code @fideloper suggested here, which is contained in #116? Or am I good to merge?

[2020-09-14 01:04] #53 closed

[2020-09-14 04:28] josecanhelp opened #117 "Takeout list throws error when no takeout containers are enabled."
We introduced this issue with the json format refactor.

[2020-09-14 06:47] #96 closed

[2020-09-14 08:30] #117 closed

[2020-09-14 21:58] mattstauffer commented on #114
As of the latest version, the default password is now `null`, which mirrors Laravel's defaults.

https://github.com/tighten/takeout/releases/tag/v1.3.0

[2020-09-15 15:51] thinkstylestudio commented on #59
@mattstauffer just a reminder, you took care of this in the bit you submitted here https://github.com/tighten/takeout/commit/c2ffacb5f84961aca4a91b20aa5b359bf88bd732 @josecanhelp

[2020-09-15 15:52] #59 closed

[2020-09-15 16:39] josecanhelp commented on #59
Thanks @thinkstylestudio!

[2020-09-15 16:49] thinkstylestudio commented on #59
Any time. :)

On Tue, 15 Sep 2020 at 10:39, Jose Soto <notifications@github.com> wrote:

[2020-09-16 12:26] abenettt opened #120 "Update GitHub Actions text matrix to test on Linux and Windows again"
Before going public the matrix was reduced to only test on macos to save build hours but as we're now public we could test on windows and linux again too as the build hours are unlimited for public repositories.

[2020-09-16 17:20] aureliusm opened #121 "ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)"
Hi, thanks for a great product!

After updating docker 2.3.0.5, I had to restart all services, but after restarting I now cannot login to my mysql.

Error I get `ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)`

I already tried null password, "password" as password etc. and nothing helps.

Any ideas?

Thanks!

[2020-09-16 18:43] mattstauffer commented on #120
Great call! Our tests don't have a lot of items that *actually* interact with the system; they mock most of that out.
But wouldn't hurt! Great call!

[2020-09-16 18:44] mattstauffer commented on #120
https://github.com/tighten/takeout/blob/main/.github/workflows/run-tests.yml#L14

[2020-09-16 18:44] mattstauffer commented on #120
https://github.com/tighten/takeout/blob/main/.github/workflows/run-tests.yml#L24

[2020-09-16 19:45] mattstauffer commented on #121
A few questions:

1. Where are you seeing this error? Is this command line MySQL, or your PHP application?
2. Have you tried disabling the `mysql` service and re-enabling it so it's generated by the latest version of Takeout?

Thanks!

[2020-09-17 06:39] aureliusm commented on #121
Thanks for a quick response.

1. I see it when running `docker exec -it e509c07994b1 mysql -p` or through "Sequel Ace" or via PHP application - all three worked before
2. I have tried it yes multiple times and also updated takeout to the latest version

[2020-09-17 09:24] aureliusm commented on #121
Just letting you know that the issue was that my mysql_data volume has been created with almost the first version of takeout and so when you introduced this change `Implemented mysql_native_password native authentication plugin for all MySQL containers` it messed things up, because the old volume still had old info.

Once I removed the mysql_data volume `docker volume rm mysql_data` (thankfully I

[2020-09-17 13:47] voidgraphics opened #122 "Port still in use after takeout disable mysql"
I had a problem with my mysql instance so I thought no problem, I'll just remove it and spin it back up. So naturally I ran `takeout disable mysql` and it removed it, but when I try to spin it back up immediately after, I can not use the same port that I was using before, as it complains that it it still in use. A reboot of my mac allows me to use the port again.

[2020-09-17 14:42] jonsugar commented on #122
@voidgraphics did you have a database GUI (TablePlus or Sequel Pro etc) open? It could be holding the port.

From the FAQ:

[code]

[2020-09-17 14:48] voidgraphics commented on #122
Thanks for the tip, I was indeed running Sequel Ace.

It seems having the Docker Dashboard open also keeps the port busy, but closing both of them works.

Thanks!

[2020-09-17 14:48] #122 closed

[2020-09-17 17:59] mattstauffer commented on #121
Ahhh.. that's helpful to know, I didn't know that would break things. Thanks!

[2020-09-17 21:22] mattstauffer opened #123 "Don't allow for attaching a new container to a volume that's already in use by another running container"

[2020-09-17 21:22] mattstauffer opened #124 "Add a wrapper for `docker system df` to check disks space usage"

[2020-09-17 21:23] mattstauffer opened #125 "Add a passthrough command to run commands on Takeout-managed Docker instances"

[2020-09-17 21:26] mattstauffer commented on #125
I'm thinking something like this:

[code]

This would allow me to run the `mysql` command on a Takeout-managed Docker instance which matches `mysql`.

As always, if two instances match `mysql` I'd have to pick which from a selector.

This would run:

[code]

We'd probably also want a non-interactive mode. We could either make a flag for that, *or* we could default to non-interactive and require a

[2020-09-17 21:47] mattstauffer opened #126 "Better handle errors when "start" and "stop" are called on non-existent container names"
![image](https://user-images.githubusercontent.com/151829/93531824-d7490780-f90d-11ea-9906-2eaf2354ac9c.png)

[2020-09-18 09:24] danielebarbaro commented on #123
Hi, with this issue you want to know:
 - if a volume exist a volume exist and

[2020-09-19 07:27] khanalpride opened #130 "Use --default flag to enable many services using commands"
I am sure everyone work with at least 2/3 services in a project.

I do use postgresql, redis, mailhog on all of my projects and to enable them it will take commands and then press enter for few times to enable a feature. and this process goes on if there are few of the services to enable.

How about having `--default` flag on enable command to use default ports/tag/version for a service and run co

[2020-09-19 07:43] jonsugar commented on #88
Yes, please!

In the current project to port [Lambo](https://github.com/tighten/lambo) to PHP, I am experimenting with calling takeout so that I can find enabled databases and prompt the user to start them if required (for example, when configuring a project with a Jetstream UI).

At the moment I am calling `takeout list --json` then collecting and filtering the output. I had mentioned to Matt in

[2020-09-19 08:36] josecanhelp opened #131 "The offer to turn off the docker service (after all containers are disabled) should only display in windows and mac systems."
Currently, when the last container is disabled, we offer to turn off the docker service to conserve system resources. But this isn't necessary in Linux systems.

[2020-09-22 23:33] mattstauffer commented on #130
@khanalpride Absolutely! @josecanhelp and I already talked about wanting this idea. :)

[2020-09-23 02:05] khanalpride commented on #130
Its working all good. As by default all the services I use are available on different ports.
Only thing if port already enabled, the port checker normally always says port is available.
I am trying to figure it out.
After figuring it out, I will send PR.

[2020-09-23 16:34] mattstauffer commented on #88
I still think this is a great idea, and I love Jon's note about using these in the CLI

[2020-09-23 19:00] AlexMartinFR commented on #88
As soon as Takeout integrate a categories concept for its services, I'll gladly leverage it to submit that PR 🙂

I've tried to add the concept of categories to the core of Takeout, but I am not comfortable enough with the codebase.
I hope someone else will be able to contribute that!

[2020-09-23 19:43] danielebarbaro commented on #88
takeout use `nunomaduro/laravel-console-menu` package, a simple wrapper of `php-school/cli-menu` but there aren't subItem (https://github.com/php-school/cli-menu#sub-menu-item) or Split Item (https://github.com/php-school/cli-menu#split-item-1) implementations. In this case also Jon can use it

One way could be make a PR to `nunomaduro/laravel-console-menu` and add some new feature that we can use

[2020-09-23 20:37] AlexMartinFR commented on #88
Grouping and iterating is the way to go IMHO 👍

I what I envision, each service should have a `category` property.
Then, we'll only have to iterate through every categories to get the UI we want.
(I'm basically describing your code snippet here.)

If you can brings categories to every service that I can then read to sort everything, that would be very welcome indeed!
Thanks 😎

PS: That terminal pr

[2020-09-24 10:32] danielebarbaro commented on #88
Services grouped by category in #135 .
If you have questions, feel free to ask. 🤓

<img width="1533" alt="Screenshot 2020-09-24 at 12 31 02" src="https://user-images.githubusercontent.com/4376886/94134065-d4946800-fe61-11ea-8d99-50915490abcf.png">

I never used Minio maybe storage isn't the right place 🙈

[2020-09-24 14:27] AlexMartinFR commented on #88
You rock, Daniele!

I've added a custom visual improvement I wanted to add, feel free to implement or reject it :)

https://github.com/tighten/takeout/pull/135/files#r494363191

[2020-09-26 02:48] mattstauffer opened #139 "Update documentation to add new feature: "enabling and disabling services in one command""
(#127)

[2020-09-26 02:52] #120 closed

[2020-09-27 00:43] #131 closed

[2020-09-27 23:56] connor11528 opened #140 "Authenticating Postgres users with Laravel app?"
Hi first off wanted to say the project is really cool. Excited to use it! I was able to connect to Postgres takeout container with Table Plus but my Laravel app isn't able to connect from localhost.

[code]
Pretty sure I'm using same values in my **.env** file:
[code]
Running Laravel 6. On the Postgres side when I go to the CLI for the takeout docker command we've created a database. Do we need to

[2020-09-29 05:49] khanalpride commented on #130
Closing this as I have already made a PR here #133

[2020-09-29 05:49] #130 closed

[2020-09-29 19:24] jonsugar commented on #37
Hey @josecanhelp,
cc: @mattstauffer

I recently spoke with Matt in DM about takeout and OS support to query why requirements state MacOS since I'm using it quite happily in an Ubuntu 20.04 instance under WSL2 with Windows docker. Matt mentioned he'd like to update requirements if WSL is indeed working.

**TL;DR** How can I assist in validating WSL2+Windows docker as a supported environment.

**My

[2020-09-29 21:59] delta1186 commented on #37
@mattstauffer so I am working on a PR to add support for Windows (not WSL).  One of the first issues I am facing is the fact that the nunomaduro/laravel-console-menu package does not work on Windows due to the lack of support for the ext_posix php extension.  I ran into this when running composer install.  So actually two questions.

First, would you be opposed to adding the following to the compo

[2020-09-30 02:25] mattstauffer commented on #37
@jonsugar Thanks so much for testing it! So, if I'm reading you right, it's 100% WSL-compatible since, I assume, `PHP_OS_FAMILY` would come through as Linux? If so, I'll mark it as WSL-compatible, which would suggest it's also possibly fully Linux compatible at this point?

[2020-09-30 02:28] mattstauffer commented on #37
@delta1186 Would you mind opening this comment up as a separate issue? I'm inclined to say "yes" to both of your concerns, but I'd like to make sure we consider all of the options and concerns. Thanks!

[2020-09-30 02:30] delta1186 commented on #37
@mattstauffer sure thing. I'll do it in the AM. Gotten finish watching this train wreck. 🤦🏻‍♂️

[2020-09-30 02:34] delta1186 commented on #37
@mattstauffer sure thing! I'll make it happen first thing tomorrow. Thanks for the feed back.

[2020-09-30 06:49] ThirumlaDevi commented on #112
@mattstauffer I was able to stop docker service running in my machine with a piped shell command without the use of /dev/null file (linux dependency) and osascript(mac dependency).
i am positive that i will be able to solve this issue for you and I would like to help you with this, can you please assign this issue to me ?

[2020-09-30 07:31] jonsugar commented on #37
@mattstauffer

Yes, with the caveat that my testing is for **WSL2**. My experience with the original WSL wasn't the best so I never used it in anger for dev. WSL2 seems faster and just generally more seamless.

Yeah, I think so.

**Context**

Maybe the following will help give some context as to my experience with WSL vs WSL2.

From, from https://docs.docker.com/docker-for-windows/wsl/

[2020-09-30 13:06] #88 closed

[2020-09-30 13:06] mattstauffer commented on #88
Closed via #135

[2020-09-30 13:07] mattstauffer opened #143 "Add category to service list JSON"
(See #88 and #135)

[2020-09-30 13:10] mattstauffer commented on #112
@ThirumlaDevi Sounds great!

[2020-09-30 13:16] mattstauffer opened #144 "Double-check all functionality works in Linux"
Per #37 we may be completely compatible with most Linux distros, but I'd love for Linux users to check it out for me.

Tag @jyrkidn, @PHLAK, and @sinnbeck who all commented on that issue about Linux.

[2020-09-30 13:17] mattstauffer opened #145 "Double-check all functionality works in WSL2"
Per #37 (especially https://github.com/tighten/takeout/issues/37#issuecomment-701215483) I believe we are completely compatible with WSL2, but I'd love for more WSL2 users to check it out for me.

Thanks to @jonsugar for testing it originally.

[2020-09-30 13:18] danielebarbaro commented on #143
I was thinking about json output days ago, feel free to assign also this to me 🤓.
I can easily handle this feature.
maybe we could talk about the right format

[2020-09-30 13:18] mattstauffer opened #146 "Update app to work in Windows (non-WSL)"
See #37 (especially https://github.com/tighten/takeout/issues/37#issuecomment-701014533) for notes about @delta1186's work toward this effort.

[2020-09-30 13:18] mattstauffer commented on #37
I'm going to close this issue and replace it with separate issues for each operating system, because it seems we're there-or-close for Linux and WSL2. 🎉

[2020-09-30 13:18] #37 closed

[2020-09-30 13:19] mattstauffer commented on #143
@danielebarbaro Sounds great! We actually already have JSON output, so this would be a quick one for you :)

[2020-09-30 13:19] mattstauffer commented on #143
https://github.com/tighten/takeout/pull/111

[2020-09-30 15:21] PHLAK commented on #144
I'll do my best to check this out in the next couple of days.

[2020-09-30 17:59] jyrkidn commented on #144
I'm on Pop!_OS 20.04 LTS and can confirm that I can enable and disable docker containers through takeout. I'm going to start using it daily now, if i should encounter any issues, I'll create a new one.

[2020-10-01 14:01] wsamoht commented on #144
I just tried on Linux Mint 20 and was able to start/stop and enable/disable a MySQL container with takeout.

[2020-10-01 17:36] ThirumlaDevi commented on #112
@mattstauffer I was able to successfully install and use Takeout tool
However I am facing issues when building the application ( without applying my changes ) as specified in the [process-for-release](https://github.com/tighten/takeout#process-for-release) section of the readme.
I have attached the error that i am getting while building the project. What i could infer is that the target .phar file

[2020-10-01 17:56] ThirumlaDevi commented on #112
@mattstauffer I was able to successfully install and use Takeout tool
However I am facing issues when building the master application ( without applying my changes ) as specified in the [process-for-release](https://github.com/tighten/takeout#process-for-release) section of the readme.

With what i could infer is that the target takeout.phar file is not getting generated.
[code]
The following are

[2020-10-01 20:33] mattstauffer commented on #112
@ThirumlaDevi Hm, I've never seen that. Do you have a file sitting in your directory named `takeout.phar`?

Either way, though, don't worry about the build; you can just test your changes using the `takeout` file that's in the root. I'll handle the builds. :)

[2020-10-01 21:25] delta1186 commented on #146
@mattstauffer first thing I am trying to tackle is the menu on the EnableCommand.  Would you prefer I share some code here or get to a stopping point and make a PR so you can review things and make recommendations there?

[2020-10-05 21:38] #139 closed

[2020-10-06 17:46] ThirumlaDevi commented on #112
@mattstauffer Will providing screenshots of how the shell commands ( as given in the above [PR](https://github.com/tighten/takeout/pull/150) )  executed in corresponding OS cmd lines , stops docker service, be helpful for the team?
Please do let me know if the solution has solved your issue or how i can help :)

[2020-10-07 04:45] bandgeekndb commented on #145
## Tested Commands

- [x] `takeout`: Shows usage information and list of available commands
- [x] `takeout list`: Shows containers and status (also tested `--json` flag successfully)
- [x] `takeout enable`: Correctly displays list of services, was able to select mysql, follow prompts, and successfully connect to running MySQL instance
- [x] `takeout enable {service_name} {service_name} ...`: Teste

[2020-10-07 13:57] bandgeekndb commented on #68
Would this make sense to add as a prompt when enabling a service? Ask if the user wants the service restarted with docker/computer and then run this command behind the scenes if it's desired?

[2020-10-07 16:19] K03413R commented on #144
I'm using this on Ubuntu 20 and everything is working great.

[2020-10-07 23:38] lacasera commented on #125
giving this a go

[2020-10-08 02:41] mattstauffer commented on #144
Thanks everyone! Gonna call this good!

[2020-10-08 02:41] #144 closed

[2020-10-08 02:43] mattstauffer commented on #145
Thank you *so much* for the super thorough test, @bandgeekndb!

[2020-10-08 02:43] #145 closed

[2020-10-09 21:04] Larsklopstra commented on #79
Still occurs on Linux (Ubuntu 20.04)

[2020-10-11 12:43] plakhin opened #158 "add ClickHouse support"
Please add ClickHouse support.
https://hub.docker.com/r/yandex/clickhouse-server/

[2020-10-12 19:38] K03413R commented on #158
@plakhin  I made a branch if you want to check it out. https://github.com/K03413R/takeout.git

[2020-10-12 19:58] K03413R commented on #17
I can tackle this one

[2020-10-12 19:59] mattstauffer opened #160 "Create a Pull Request template that ensures Tlint and the tests have been run before committing"

[2020-10-13 06:59] danielebarbaro opened #162 "Discussion: composer, composer.lock and php versions"
hi @mattstauffer and @josecanhelp your nightmare is coming, also today i spent some hours on takeout.
The situation of composer and php version isn't clear at all for me 🤪.

With this composer.lock [94ec1a66498cd4f0e207afd3b40d8c2f6ab8e171] i can't install the project with php 7.2. The message is:

<img width="876" alt=" " src="https://user-images.githubusercontent.com/4376886/95825115-a7382d00-0d

[2020-10-15 13:46] delta1186 commented on #146
I about to submit a PR.  I still need to write some OS specific tests, but I am pretty close I think.  I have updated the enable, disable, start and stop commands to support native Windows.  Here are some screen shots of how it will look in cmder and the cmd prompt which have a light and dark theme.

### Enable Menu
This is menu has one additional feature not available in the default menu which is

[2020-10-16 03:51] chrisdicarlo opened #165 "Add SFTP server support"
Hi,

I've built a custom service to allow spinning up SFTP servers using the atmoz/sftp image in my fork, just wondering if it would be of any interest to anyone for inclusion as a service in Takeout?

It currently supports:

- defining the port
- defining the SFTP user and password
- modifying the internal directory name on the server
- mapping a host directory into the container directly

I've g

[2020-10-16 14:32] mattstauffer commented on #165
@chrisdicarlo Thanks for the issue! So this allows external folks to SFTP into your local machine, given your public IP? If so, this is definitely interesting!

[2020-10-17 13:01] chrisdicarlo commented on #165
@mattstauffer Actually, it was more for me to be able to spin up SFTP servers locally that can be used for testing, etc.  But your idea is interesting - just not sure how it could work consistently while still being local, i.e. without mucking about with any external firewall policies or port forwards.

I wonder if you could leverage Expose to tunnel it through somehow?  That would require a self-

[2020-10-17 13:47] chrisdicarlo commented on #165
Actually, I think even with Expose you would need to add a reverse proxy at the front end or a firewall policy / port forward anyway.  Either way will require some level of changes at the edge of the network.

If you have to do that anyway, you could simply have it point at the SFTP container directly.

[2020-10-18 15:56] chrisdicarlo opened #166 "Self-hosted Expose server"
Hi,

Opening an issue about possibly adding an option to have a self-hosted Expose server added as a service.  I have a working setup and would be more than willing to submit a PR.

There are some additional steps that need to be performed for the whole thing to work, e.g.:

- Create a wildcard DNS record for the TLD
- Configure the reverse proxy to forward traffic for the above domain(s) to the I

[2020-10-20 17:42] #162 closed

[2020-10-21 12:27] mattstauffer commented on #68
Hm, I'm also wondering if it's possible to do that without the prompt. Problem is, if we auto restarted *every* container every time, some folks might not like that since they don't want all their containers always running, so we would have to keep track at any given moment of which are started and stopped, and that *also* seems like a pain...

[2020-10-21 12:52] aureliusm commented on #121
@mattstauffer Just letting you know that I experienced this again. The only thing that happened was that my docker was updated so all my containers were stopped. I then had to `takeout enable mysql` again and it bumped the mysql version to 8.0.22 - all went fine. But when trying to connect via console `docker exec -it 2a831e763c7d mysql` (or otherwise), I again get the error `ERROR 1045 (28000): A

[2020-10-22 15:29] mattstauffer commented on #166
@chrisdicarlo Certainly interesting! I guess this will be our first one that won't work unless you *also* do other work, but yah, this sounds like a great idea!

[2020-10-22 15:31] chrisdicarlo commented on #166
@mattstauffer yeah, but I kind of envisioned it being for people that typically work from the same device and want to provide access for a client to take a peek so you kind of set up the DNS and forwarding stuff once and then just spin up the server we need to expose (no pun intended) the site￼.

[2020-10-27 12:29] Goldyberg opened #169 "Support for Open Distro for Elasticsearch as a Service"
Open Distro for Elasticsearch https://opendistro.github.io/for-elasticsearch/ stems from AWS. They use it for their managed AWS service https://aws.amazon.com/elasticsearch-service/.

Although there is large feature overlap with Elastic's offering. There are differences when it comes to plugins and some implementation details.

Version mapping: https://opendistro.github.io/for-elasticsearch-docs/v

[2020-11-08 22:31] scheMeZa opened #172 "Ubuntu 20.04 Docker is not running, but is?"
Hello!

I've recently moved to ubuntu for development and would like to use this tool to manage my services.

The docker service is running:
![image](https://user-images.githubusercontent.com/7773361/98485932-bc668580-2222-11eb-9c37-a39c71d4c0ed.png)

But am getting a "Docker is not running" error when trying to enable MySQL:
![image](https://user-images.githubusercontent.com/7773361/98485953-db65

[2020-11-09 15:54] mattstauffer opened #173 "Fix `list` being too wide"
Since the networking feature has been implemented, the list command's output is too wide on many screens:

![image](https://user-images.githubusercontent.com/151829/98564081-ed25d980-2279-11eb-98ad-bc6e76974019.png)

We mayyy want to do something like `--networking` as a flag that adds the alias and base alias?

[2020-11-09 16:03] #126 closed

[2020-11-09 16:11] mattstauffer opened #174 "Add networking details to the readme"
See #170

[2020-11-09 16:41] danielebarbaro commented on #173
I can use a couple of hours out of my usual open source time in order to manage this and #174.
Since I really love this package, i can even use more then 2 hours 🤓 😎

[2020-11-09 19:04] mattstauffer commented on #173
Awesome--thanks @danielebarbaro!!

[2020-11-09 19:06] mattstauffer commented on #174
@danielebarbaro I was thinking something along the lines of:

1. sharing that it is automatically added to a network named `takeout`
2. Sharing the basics about how the aliasing and base aliasing works
3. (optional) giving an example of how to use them in another Docker container using their aliases.

If any of this isn't clear I'll be happy to explain

[2020-11-09 19:59] K2ouMais opened #175 "Takeout command not working on WSL2"
I just tried and installed this on WSL2 globally, but seems that the command does not exists.

My Ubuntu distro is asking me me to install some package through "apt".

This is strange... The laravel command still works.

[2020-11-09 21:14] K2ouMais commented on #175
Sorry, forgot that composer wasnt set in the PATH.

[2020-11-09 21:14] #175 closed

[2020-11-09 21:16] K2ouMais opened #177 "Redis Undefined offset: 1"
Hello,

I am using WSL2 and I am getting an error when enabling Redis.

![redis](https://user-images.githubusercontent.com/52510455/98597327-280b2a00-22d9-11eb-968c-91753f155249.png)

Am I doing something wrong?

Thanks in advance

[2020-11-10 23:01] reed-jones commented on #177
I'm having this same error on macOS trying to enable Redis & MariaDB

[2020-11-11 02:21] #177 closed

[2020-11-11 02:25] mattstauffer commented on #177
@reed-jones @K2ouMais Should be fixed now. Thanks!

[2020-11-12 16:29] mattstauffer opened #184 "Decide on a Node framework to use in moving Takeout to Node"
| Tool              | Monthly Downloads | GitHub Stars | URL |
| :----------- | :------------------- | :-------------- | :--- |
| Commander | 217 million                | 19,100 | https://github.com/tj/commander.js/ |
| OCLIF           | 4.8 million                 | 5,500 | https://github.com/oclif/oclif |
| Ink                | 1.7 million                 | 15,100 | https://github.com/vadimdemed

[2020-11-13 17:34] mattstauffer commented on #184
Also, including Adonis; sample project here from the creator to show it used as a CLI tool:

https://twitter.com/AmanVirk1/status/1327302198351413250?s=20

[2020-11-16 16:33] mattstauffer commented on #184
@josecanhelp did a ton of research this weekend, trying every one out --thank you so much @josecanhelp! -- and based on his findings and our guts, we're going to go with OCLIF.

[2020-11-16 16:33] #184 closed

[2020-11-17 01:53] CyberSai commented on #172
I also had the same issue, I realize by default the docker daemon required root access.
Trying installing docker as a non-root user. This link will help https://docs.docker.com/engine/security/rootless/

when you can run docker with adding sudo and the output gives
[code]
Then you know it will work now.

Using
[code]
will allow you to run docker without sudo but still takeout will not be able to.

[2020-11-24 09:21] wotta opened #186 "Local Jenkins automation image"
First off thank you for creating this tool. It has helped me a lot in the last few months.

I wondered about adding a local Jenkins image for local automation testing.
The reason why this could be interesting to provide the option is that you might want to test your application before it hits an external CI/CD platform.

For example, It could be beneficial if you run an internal "automation" servi

[2020-11-27 11:25] alextpritchard opened #187 "Add Support for PHP 8"

[2020-11-27 23:52] pmayet commented on #187
https://github.com/tighten/takeout/pull/188

[2020-11-30 11:14] godbout opened #189 "pass options to enable container without having to go through cli prompt"
just some thoughts. i'm coming from `laradock` and i was looking for something lighter. `takeout` seems to be a great option, but from my tests and what i can get from the code, we have to go through the prompts. that makes it hard to automatize.

to give you an idea of my workflow, i run one command through itermocil, and it opens a bunch of terminal panels, goes into the right directories, boot

[2020-11-30 20:41] stevieegee opened #190 "MySQL said: Host '172.18.0.1' is not allowed to connect to this MySQL server"
I enable MySQL 8.0 port 3306 or 3308 and MySQL 5.7 port 3307. Both work fine until I restart my Mac. Then with MySQL 8.0 is get the error - MySQL said: Host '172.18.0.1' is not allowed to connect to this MySQL server. MySQL 5.7 is alway fine just 8.0. I have deleted them and their volumes and recreated them in a different order but 8.0 always gives me the same error.

[2020-11-30 21:45] pmayet commented on #187
@mattstauffer It is possible to publish a new release with the php8 compatibility ?

[2020-11-30 22:58] stevieegee commented on #190
The problem with MySQL 8.0 seems to be due to importing multiple database. If I  mysql -u root -p --host='127.0.0.1' --port=3306 < all_db.sql , it imports all the dbs and works fine, but if I restart the container I get the error.

[2020-11-30 23:05] mattstauffer commented on #187
@pmayet Apologies!

[2020-11-30 23:05] #187 closed

[2020-11-30 23:11] mattstauffer commented on #187
https://github.com/tighten/takeout/releases/tag/v1.6.5

[2020-12-01 00:00] #165 closed

[2020-12-01 11:33] vtalbot opened #191 "Can't pass box requirements checker with PHP 8 and takeout v1.6.5"
Since I upgraded my PHP to 8.0, I get this error whenever I run a `takeout` command:

[code]

I'm using the v1.6.5 of `takeout` and I'm on Big Sur

[2020-12-01 19:38] mattstauffer commented on #191
@vtalbot Thanks! We'll need to test it out on PHP 8 quickly before we tag support. Are you up to be a guinea pig?

[2020-12-01 19:39] mattstauffer commented on #191
Actually.. weird. We already tagged 8.0 support in v1.6.5. I'm not sure why you're getting that error. I'll try to take some time to set up PHP 8 locally and test it out.

[2020-12-01 20:45] mattstauffer commented on #191
<img width="1099" alt="image" src="https://user-images.githubusercontent.com/151829/100794835-202c3a80-33ec-11eb-8d66-74878741852f.png">

Same issue here.

Takeout works fine, but once it's boxed up, it doesn't work fine. Let me look into this!

[2020-12-01 20:47] mattstauffer commented on #191
Ah.. Laravel Zero 7+ doesn't work with PHP 8. We'll have to update to Laravel Zero 8. Working on that now.

[2020-12-01 20:49] mattstauffer commented on #191
And... it doesn't support PHP 8 either.

https://github.com/laravel-zero/framework/pull/421

So we updated *our* tool to support PHP 8, but our dependency doesn't support it, so we jumped the gun on the 8.0 support. :/ Sorry!

[2020-12-10 05:51] plakhin opened #194 "Laravel Sail & Takeout without PHP & Composer"
I'm using Laravel Sail on WSL2.
Since WSL 2 doesn't have PHP and Composer installed out of the box, I tried to use `laravelsail/php74-composer` container which comes with Sail but with no success. My steps are:

[code]

the last command seems to work fine, however when trying `docker run --rm -v $(pwd):/opt -w /opt laravelsail/php74-composer:latest php vendor/bin/takeout enable` I'm getting this e

[2020-12-10 21:52] mattstauffer commented on #194
You can't run Takeout from within Docker because it's controlling/managing Docker.

You can't run Takeout on WLS2 without installing PHP and Composer locally.

We're currently working on a Node-based version of Takeout that will solve for exactly this problem but it's weeks or months away from being live.

I'm working also on a tool called Liftoff that gets PHP and Composer and Takeout installed o

[2020-12-10 21:52] #194 closed

[2020-12-11 17:07] delta1186 opened #195 "Cannot stop an already stopped container"
When running the disable command the stopContainer method is called inside of removeContainer.  If the container is not currently running it will throw an exception causing the removeContainer method to end before actually removing the container.

I have written a PR to fix this issue, which just wraps the stopContainer method call inside a conditional.  This is the same conditional used inside th

[2020-12-17 14:02] Jarrid opened #199 "Laravel 8 - Migrate Squash / Mysqldump missing"
Hi!

## Issue:
When running mysql 5.7 in a docker using takeout, I cannot squash migrations into a single .sql file per the php artisan schema:dump.  The error I receive is "mysqldump command not found".  I get why it's occurring  - that MySQL is not installed in my system, but within Docker, and thus not in my /bin/ path to be executed.

I have run mysqldump directly from my machine (in DataGrip)

[2020-12-21 14:56] mattstauffer commented on #191
This should be fixed in v1.8.0. Please test it out. Thanks!

[2020-12-21 14:56] #191 closed

[2020-12-22 00:03] delta1186 opened #200 "Dependency Injection"
I am wondering if the start, stop, enable, and disable commands should be standardize with some injected dependencies.  This will avoid some work arounds with testing I had to implement in order to handle a class is not tied to the command, but rather directly loaded from the container.  Hope I am saying that right. :)  Like the following example from line [63](https://github.com/tighten/takeout/b

[2020-12-27 14:44] mattstauffer commented on #200
@delta1186 Sounds good to me! Thanks!!

[2020-12-27 20:32] delta1186 commented on #200
Hey @mattstauffer I am working on a PR for this and before submitting I was trying to figure out why your Actions were failing for php7.2.  I appears that PHPUnit 9 that you moved to no longer supports Php 7.2.  Do you want to remove 7.2 support or rollback PHPUnit?

[2020-12-28 14:52] mattstauffer commented on #200
@delta1186 Thanks--I'd like to eventually bring that support back in via a PHPUnit bridge command, but you can comment out 7.2 support for now. Thanks!

[2020-12-29 17:12] #200 closed

[2020-12-29 19:22] delta1186 commented on #195
Hey @mattstauffer this one should be pretty straight forward.  Just added a test for the issue I fixed in PR #196.

Just let me know if you have any questions or concerns. This would close this issue.

[2021-01-04 14:54] #195 closed

[2021-01-13 09:51] abenettt opened #205 "Add PHP8-AppleSilicon case to test Matrix"
With the release of Apple Silicon we want to make sure that the application behaves properly, `shivammathur/setup-php` currently supports only PHP 8 on Apple Silicon. I propose adding this test case to the suite.

[2021-01-14 01:01] #205 closed

[2021-01-16 15:18] mattstauffer commented on #189
I love that idea! :) Do you think you could propose a syntax?

[2021-01-16 15:18] mattstauffer commented on #189
(Sorry for the delay in response. It's been... quite a year.)

[2021-01-19 19:00] grantjanecek commented on #158
@mattstauffer  This can be closed. Pr #159 added this.

[2021-01-19 19:25] #158 closed

[2021-01-19 19:25] mattstauffer commented on #158
hanks @grantjanecek!

[2021-01-20 14:09] mabadir commented on #199
I am using `schema:dump` with Takeout on MySQL v8 though. You need to have the MySQL client installed on your machine, and it will access the database on the Docker container and dump the schema.

[2021-01-20 21:56] mattstauffer commented on #190
@stevieegee that's very strange. Are you still seeing this error? Thanks!

[2021-01-20 21:56] #166 closed

[2021-01-20 22:01] mattstauffer commented on #121
@aureliusm Apologies for taking so long, the end of last year was really tough and busy. Is this still an issue?

[2021-01-20 22:02] mattstauffer commented on #79
@Larsklopstra Sorry for the delay; is this still an issue? Thanks!

[2021-01-20 22:11] Larsklopstra commented on #79
Nope! I'll post my solution tomorrow when I'm at my desk 😄

On Wed, Jan 20, 2021, 23:02 Matt Stauffer <notifications@github.com> wrote:

[2021-01-20 23:58] mabadir commented on #190
@mattstauffer I am seeing that error as well. This happens usually while Docker is spinning the container. Once it's fully operational the error goes away.

[2021-01-20 23:59] mabadir commented on #189
I can help with a PR if there is any specific syntax in mind.

[2021-01-21 03:06] mattstauffer commented on #190
OK, that makes sense. Database doesn't connect while it's restarting? Is anyone seeing it any other times?

[2021-01-21 05:14] andradei opened #207 "`takeout enable mysql` getting the lowest docker image version instead of latest"
When leaving docker tag empty (default `latest`) or explicitly typing "latest", it picks the lowest version from Docker Hub instead...
Selecting the version explicitly works, however.

Note this is downloading `mysql:5.6.51` instead of `mysql:latest` (version `8.0.23` as of today)

[code]

[2021-01-21 09:37] godbout commented on #189
no worries.

the syntax, good question. kinda subjective i think. personally i'm a big fan of two things: intuitive, but also following a used consensus. i guess it'd be nice to have both. like the typical -p for port, etc..., and something more intuitive too (in the case of port, well, like --port, which in this case is also the consensus 😅️). i'll do more research and come back to you. (currentl

[2021-01-21 14:23] mattstauffer opened #208 "Discussion: Should we add a port sniffer?"
I've occasionally run into the situation where I'm told a port I want to use is in use:

![image](https://user-images.githubusercontent.com/151829/105363650-455a4f80-5bca-11eb-9374-5a85df89fe42.png)

But I can *never* remember the command to look that information up.

I know it's not quite Takeout's domain, but I also know a lot of people like me who use Takeout don't remember the netstat-or-whate

[2021-01-21 14:49] mattstauffer opened #209 "Connection refused trying to connect to registry-1.docker.io"
I know I'm a Takeout maintainer so I don't have to make this public, but I figure I'm not the only person who'll ever see this error, so I'll put it here publicly while I try to figure it out.

![image](https://user-images.githubusercontent.com/151829/105366897-dd0d6d00-5bcd-11eb-8ac4-922aaf784756.png)

[code]

This is on an m1 laptop using the brand new Docker for desktop build, so first thing I'

[2021-01-21 14:50] mattstauffer commented on #209
Yuuuuup.

![image](https://user-images.githubusercontent.com/151829/105367069-0b8b4800-5bce-11eb-88dc-6b1588804328.png)

Not a takeout issue, but when I find the solution I'll put it here anyway. :)

[2021-01-21 14:51] mattstauffer commented on #209
These folks said restarting Docker fixed it, but sadly that didn't work:

https://forums.docker.com/t/error-response-from-daemon-get-https-registry-1-docker-io-v2/23741/26

Gonna try restarting my computer next just for fun. :)

[2021-01-21 18:30] mattstauffer commented on #209
Restarting did not fix it. :/

[2021-01-22 04:52] mabadir commented on #207
I have checked the issue. It seems the issue related to how the tags (versions) are returned by Docker Hub.

Currently the versions are returned out of order.

I will dig a little bit more.

[2021-01-22 07:49] dennisvandalen commented on #209
@mattstauffer try stopping the dnsmasq service

[2021-01-22 14:39] mattstauffer commented on #209
@dennisvandalen Thanks! Sadly that didn't work. Interestingly my dnsmasq services *was* in an error status, but stopping it didn't fix the problem.

[2021-01-22 15:35] mabadir commented on #208
I would like the error message in red in your screenshot to tell me which service is using it, so I can stop it.

[2021-01-22 15:36] mabadir commented on #208
We will need different implementations though for each OS (macOS, Linux and Windows).

[2021-01-23 07:11] mabadir commented on #207
@mattstauffer, in order to force order to the tags retrieved, we can add `order=name` query parameter. For example:
[code]

This returns the tags in order, like that:

[code]

Any thoughts, should I PR it?

[2021-01-23 07:20] mabadir commented on #207
Also, another way of doing it, is to refactor this function, I am trying to get my head around it, but not sure why `latest tag is being rejected.

[code]

[2021-01-24 17:38] mattstauffer commented on #209
Thought it might be DNS related so I tried this, but no luck:

![image](https://user-images.githubusercontent.com/151829/105638521-03870e80-5e41-11eb-816e-e7b881e3ae0c.png)

[2021-01-25 19:02] jasonvarga commented on #209
I'm running into it, also running an M1. Here's the docker issue: https://github.com/docker/for-mac/issues/5186

At least for me, the workaround is this, in this order:

- stop dnsmasq
- restart docker for mac
- takeout enable whatever should run fine

After you've enabled the container, you can turn dnsmasq back on.
Running takeout start/stop seems to be fine without needing to disable dnsmasq on

[2021-01-25 19:11] mattstauffer commented on #209
@jasonvarga Thank you! I tried stopping DNSMasq and it didn't work, but I'm gonna stop it and restart the machine shortly and test that out. Thank you for the link, too!

[2021-01-25 19:16] hcancelik commented on #209
You just need to restart the docker after stopping dnsmasq. Also, double check that it's indeed stopped instead of failed.

[2021-01-25 19:19] mattstauffer commented on #209
@hcancelik You're right! I had tried to restart it in the preferences, using "apply and restart" on some changes I was making, but that apparently didn't cut it; I actually had to click on the dropdown and click Restart, and then that fixed it.

Thanks!

<img width="243" alt="image" src="https://user-images.githubusercontent.com/151829/105754676-5aabe280-5f18-11eb-9b11-b2d16f9f4b43.png">

[2021-01-25 19:19] #209 closed

[2021-01-25 19:21] mattstauffer commented on #209
Thanks again @jasonvarga!

For anyone else who runs into this, this is a Docker for Mac  + DNSMasq (likely installed by Laravel Valet) thing, not a Takeout thing.

https://github.com/docker/for-mac/issues/5186

[2021-01-25 20:58] mattstauffer commented on #207
Ah, that `order` param is a great idea!

We're rejecting `latest` because the whole point of that function is to figure out which tag `latest` is referring to.

[2021-01-26 19:22] zatorck commented on #209
It's also worth to say that it's not only issue caused by dnsmasq. Also when You restart container with dnsmaqs turned on Docker cannot read date properly and set dates as 1970 in its containers.

[2021-01-28 10:11] godbout opened #211 "change in `takeout start`? can't start multiple items from the menu"
i'm pretty sure in the past i would run `takeout start` and be able to start several containers. i would choose one, it would disappear from the list, choose another one, etc..., until i choose exit. now the menu quits right after my first choice. i've checked the docs to see if something has changed but even there's some new features, there's nothing that should have affected this. am i getting o

[2021-01-28 10:13] godbout commented on #211
same for `takeout stop` btw.

[2021-01-28 15:27] mattstauffer commented on #211
Ahh... a PR was sent in to update the menu to work on Windows, and they may have unintentionally broken this flow for Mac users. We'll take a look--thanks!

[2021-01-28 15:30] delta1186 commented on #211
@mattstauffer I will take a look at this since that was my PR.  If my memory serves me, only the disable menu had that functionality which is what I replicated on the Windows side.  Let me checkout an older commit and review the behavior.

[2021-01-28 15:39] godbout commented on #211
@delta1186 i don't use disable. enable once, then each time i work on a project, i `takeout start` and `takeout stop`. i remember starting and stopping a couple of containers in one go. navigating with `jk` to get to the right containers, start/stop, then exit.

[2021-01-29 13:18] mattstauffer commented on #211
@delta1186 Thanks! Yah, the `start` menu and I *think* the `stop` menu used to let you keep starting/stopping until you were done.

[2021-02-03 13:37] imukonyezi commented on #121
Yes it is.

[2021-02-05 19:23] edalzell opened #213 "Install latest version of Postgres?"
I enabled postgres and chose `latest`, but it pulled down version 10, whereas docker has up to version 13. It would be great if the 'latest' was at least what is installed by Forge, which I believe is version 12.

How can I help implement this? I took a browse through the code but didn't immediately see where the versions were retrieved.

Thanks

[2021-02-07 01:34] mattstauffer commented on #213
Hey @edalzell!

This may be similar to https://github.com/tighten/takeout/issues/207... it looks like the author of that issue had a solution, and said they were going to PR it, but didn't, so if you're up to help, maybe you can make that PR?

Thanks!

[2021-02-07 01:42] edalzell commented on #213
I'll take a look and see if I can figure it out.

[2021-02-08 23:22] delta1186 commented on #211
Sorry I am just looking at this.  Not sure how I broke it, but you are correct that it is not working.  However, it probably was working, because I replicated the behavior in the Window's menu.  So currently it works on Windows for start and stop, but Linux (and I assume Mac) it does not.  Hopefully it should be an easy fix.

[2021-02-09 05:06] mattstauffer commented on #211
Just to clarify, @delta1186, does that mean I should pick up this fix, or is it something you'll be looking at? No worries if you can't, just trying to clarify :)

[2021-02-09 12:02] delta1186 commented on #211
@mattstauffer no no I was just explaining what I saw￼. I should be able to fix it easy enough this morning. 🤙🏻￼

[2021-02-09 14:20] delta1186 commented on #211
Okay @mattstauffer should be good to go. :)

[2021-02-09 16:15] mattstauffer commented on #211
Fixed in #214; thanks so much @delta1186!!

[2021-02-09 16:15] #211 closed

[2021-02-09 16:21] godbout commented on #211
thanks you guys!

[2021-02-10 09:34] SimonJ opened #215 "install takeout on an Mac mini M1"
I have some issues trying to install takeout on a new Mac mini M1.

I have followed the steps in the readme and installed the Apple M1 Tech preview docker version.
But when i run `takeout enable mysql` and just using the default version it fails with this.

Anyone know what the issue can be?

[code]

https://user-images.githubusercontent.com/183790/107491496-81f6e680-6b8b-11eb-8b88-10187e70f569.mo

[2021-02-10 20:21] mattstauffer commented on #215
@SimonJ There's no MySQL build for the latest docker yet. You'll have to temporarily switch to MariaDB

[2021-02-10 20:51] SimonJ commented on #215
Thanks @mattstauffer and then i need to install php with Brew, right?

[2021-02-11 05:18] mattstauffer commented on #215
@SimonJ Yup!

[2021-02-11 22:54] sperelson commented on #215
@mattstauffer Not sure of the scope, but wondering if being able to decide to use `--platform linux/amd64` for the Docker Pull might be useful as an option when deciding to enable an image. Even if there is an M1 version, choosing the x86 version may be useful.

It is pretty Mac M1 specific though and of limited appeal, probably.

[2021-02-14 01:25] edalzell commented on #213
Hey @mattstauffer, got a PR in for this, should address this issue and #207.

Looks like we need to sort the version "naturally".

[2021-02-14 03:11] #207 closed

[2021-02-14 03:11] #213 closed

[2021-02-17 15:11] swilla opened #217 "Is there a way to override mysql config flags"
Is there a way to add some custom settings to the my.cnf or pass some arguments to the run command to bump up that setting?

For example:
[code]

[2021-02-18 14:08] #76 closed

[2021-03-03 21:53] connor11528 commented on #77
Thanks for opening this issue @dducro and the potential fix @ozziexsh. I'm looking to set up two Postgres databases, one for local development and one for running tests against. Currently getting this naming conflict error when trying to create my second Postgres db.

Workaround for me is to [rename](https://docs.docker.com/engine/reference/commandline/rename/) one of the containers. You can do th

[2021-03-05 20:53] johanrosenson commented on #114
@mattstauffer What does it mean that the password is null?

`What will the root password be? (null by default)`

I just got this question while enabling mysql , and I found it very confusing, is the password the string "null", or an empty string? or a null byte? only the empty string makes sense to me, but yeah, it's a confusing use of the word null :)

[2021-03-06 03:46] mattstauffer commented on #114
@johanrosenson I'm not sure how MySQL treats it internally, but I believe there was some conversation about `null` being differently than an empty string when it comes to how we pass it. But I could be wrong. :)

[2021-03-10 22:21] wunc opened #218 "Pass custom docker run parameters when enabling a service"
I would love to have the ability to pass additional arbitrary custom docker run parameters to the services when initially enabling them. For example:

- For the MySQL container, pass `-e TZ=America/Chicago` to set the timezone via an environment variable
- To auto-restart a container when docker starts, pass `--restart unless-stopped`

I'm envisioning a simple text prompt in the enable menu after

[2021-03-10 22:47] wunc commented on #189
Maybe a possible solution to this would be something like `takeout taste-test`, which is almost the same as `takeout enable` in that it runs you through the prompts, but then instead of actually executing the docker run command it just echos it out to the terminal. Someone could then just copy-paste that into their automation scripts and modify as needed.

[2021-03-15 19:57] mattstauffer commented on #189
@wunc We could certainly enable that using something like `--dry-run` to any of the commands. That doesn't perfectly solve this issue, but it would help.

[2021-03-15 19:58] mattstauffer commented on #218
I think this would be a great idea. I think the first and easiest solution would be adding a `--dry-run` flag to the `enable` command which allows you to copy what it's *going* to do and then modify it. But I do like the idea of finding a way to pass custom parameters!

[2021-03-15 22:02] njames opened #219 "start --all"
I thought all would be a great addition to the start command.

I looked in the code and saw it was there but when I went to use it i got ...

[code]

which was very weird.

OS = Ubuntu 20.04
Happy to provide any other info you need

[2021-03-16 08:14] njames commented on #219
wasn't updated  to latest version :(
`composer global update` fixed it :)

Happy days ... happy dev

[2021-03-16 08:14] #219 closed

[2021-03-16 15:06] godbout commented on #189
i'll try to come up with something when i have a bit more time. currently not the priority (for me). thanks!

[2021-04-09 16:48] josecanhelp opened #221 "Port Enable Command to Node"
- [x] Check that a selected port is not in use
- [x] Use the environment shell to call netstat
- [x] Use the environment shell to check user's OS

[2021-04-09 16:53] MarceauKa commented on #190
Got the same error after a takeout + docker reinstallation. When I sshed into the container, I can't execute a simple `mysql -u root -p`. So locally and remotly I am unable to use my container

[2021-04-10 00:39] mikemand opened #223 "Migrating to a new computer"
Hey guys! I absolutely love Takeout. Great work!

I recently got a new Mac and I was wondering if it is possible to transfer my containers and their data from one to another? If it matters, the new Mac is an M1 chip.

[2021-04-14 21:27] mikemand commented on #223
This seems to work pretty well (I was able to migrate MinIO at least): https://medium.com/@idoberko2/migrate-docker-volume-from-one-mac-osx-host-to-another-4607a5c61c58

I'll just recreate the databases as I need them, especially since I had to use MariaDB instead of MySQL.

[2021-04-14 21:27] #223 closed

[2021-04-16 19:21] #50 closed

[2021-04-16 19:21] #17 closed

[2021-04-16 19:22] #124 closed

[2021-04-16 19:23] #39 closed

[2021-04-16 19:23] #47 closed

[2021-04-16 19:24] #125 closed

[2021-04-16 19:25] #91 closed

[2021-04-16 19:25] #123 closed

[2021-04-16 19:26] #33 closed

[2021-04-16 19:26] #57 closed

[2021-04-16 19:26] #32 closed

[2021-04-16 19:27] #49 closed

[2021-04-16 19:27] #29 closed

[2021-04-16 19:27] #31 closed

[2021-04-16 19:30] #221 closed

[2021-04-16 19:40] #36 closed

[2021-04-16 19:46] josecanhelp commented on #217
At the moment, this is not possible. However, we are looking into that possibility. We will track this feature request at #218 .

[2021-04-16 19:46] #217 closed

[2021-04-16 19:48] josecanhelp commented on #215
@sperelson I just read that Docker on M1 is finally available as GA, but there is still an issue with the mysql images for arm64: https://docs.docker.com/docker-for-mac/apple-silicon/

I'll close this ticket for now. Thanks!

[2021-04-16 19:48] #215 closed

[2021-04-16 19:49] josecanhelp commented on #208
This is currently working and also being ported over to the node version.

[2021-04-16 19:49] #208 closed

[2021-04-16 20:14] josecanhelp commented on #199
@Jarrid the artisan command checks for a local instance of the mysql command, and if you are using docker, this is not available. You can install mysql locally to make the binary available. This is less than ideal, but I'll try to think of some more creative ways to eventually get this working.

[2021-04-16 20:14] #199 closed

[2021-04-16 20:24] josecanhelp commented on #190
This seems like an issue with the container service not having enough time to get to a healthy state before trying to access the service. In the node port of takeout, we will be implementing a listener to check the health state before allowing interaction with the service.

[2021-04-16 20:24] #190 closed

[2021-04-16 20:27] josecanhelp commented on #189
I love this suggestion. But it feels very similar to what docker-compose does. Once we start getting into configuration files to orchestrate containers, it might be too complex for most takeout users.

[2021-04-16 20:27] #189 closed

[2021-04-16 20:33] josecanhelp commented on #186
This is absolutely an image some developers would find useful. If you'd like to ask the community for help making a Takeout container, post your request here: https://github.com/tighten/takeout/discussions/224

[2021-04-16 20:33] #186 closed

[2021-04-16 20:37] josecanhelp commented on #173
This may not be relevant enough since we are porting to node. Oclif manages the output a little better than symfony tables.

[2021-04-16 20:37] #173 closed

[2021-04-16 20:38] josecanhelp commented on #172
I believe this issue has been resolved. Please let us know if you are still seeing any errors when enabling a takeout container.

[2021-04-16 20:38] #172 closed

[2021-04-16 20:41] josecanhelp commented on #169
This may require a new service so we could avoid image overlap. Please add this as a new container request here: https://github.com/tighten/takeout/discussions/224

[2021-04-16 20:41] #169 closed

[2021-04-16 20:41] josecanhelp commented on #160
moved to trello.

[2021-04-16 20:41] #160 closed

[2021-04-16 20:43] #146 closed

[2021-04-16 20:45] josecanhelp commented on #140
@connor11528 my apologies for the crazy late reply here. I have been using postgres locally on an app without issue. Are you still experiencing this?

[2021-04-16 20:46] #121 closed

[2021-04-16 20:51] josecanhelp commented on #106
moved to trello

[2021-04-16 20:51] #106 closed

[2021-04-16 20:56] josecanhelp commented on #77
closed per reason in #89

[2021-04-16 20:56] #77 closed

[2021-04-16 20:58] josecanhelp commented on #68
This feels like a configuration that Takeout should not be managing. If a container needs to be started, just list the containers and select the ones you need to start. This will be a much smoother process in the node port, btw.

[2021-04-16 20:58] #68 closed

[2021-04-16 21:00] josecanhelp commented on #58
This is outside the scope of takeout. We just need to check if the port is in use, which has since been included.

[2021-04-16 21:00] #58 closed

[2021-04-16 22:18] connor11528 commented on #140
Hmm ya know it's not an issue for us anymore.. forget what we did though! We can close this issue and if it pops up again will let you know :)

[2021-04-17 05:16] godbout commented on #189
fair enough.

the idea though was not to mess with configuration files, but to give the ability to pass more arguments.

currently the way i handle my workflow is echoing the ports i'm using for the current project, and starting the containers manually:

![Item-0_and_Item-0_and_Item-0_and_Item-0](https://user-images.githubusercontent.com/121373/115102681-f92b6b00-9f7e-11eb-946a-87f689c00384.jpg)

[2021-04-20 14:49] #140 closed

[2021-04-22 06:39] billmn commented on #218
I need to override the "innodb_strict_mode" for MariaDB, I think the ability to pass custom parameters to a container could be very useful.

Could also be very useful the ability to persist this parameters to a "per-container" file to override container config even after a reboot.

[2021-04-25 14:12] mattstauffer commented on #218
@josecanhelp what do you think about this? I know you've been working hard to keep our prompts as simple as possible. Is it possible we make this a power user mode that can be configured so most users don't interact with it?

[2021-04-25 20:15] josecanhelp commented on #218
Yea, I think a "mode" switch would be really nice so we can keep things simple for most users. But we also want to make it discoverable. 🤔

[2021-05-27 12:59] leewillis77 opened #229 "Feature request - Grafana"
It would be great to have support for [grafana](https://github.com/grafana/grafana) through takeout.

[2021-06-02 06:09] tcampbPPU opened #230 "Ability to create and restore DB containers"
Is there a feature, or planned feature to be able to create and restore backups for database containers?

So for myself I'd run a script like so to create a backup dump of a MySQL DB.
[code]

Maybe something like so could be helpful!
[code]

[2021-07-05 09:28] driesvints opened #235 "Fixed colors from enable are hard to use with Solarized Light"
I'm using Solarized Light as a terminal theme and the current fixed colors from `takeout enable` make it quite hard to use it in combination with that theme. I realize you can't account for every theme out there but Solarized Light is a very popular one. Even so, feel free to dismiss this!

![Screen Shot 2021-07-05 at 11 24 15](https://user-images.githubusercontent.com/594614/124449792-16085b00-dd

[2021-07-05 13:42] tpetry commented on #235
The same for dracula:

<img width="862" alt="Bildschirmfoto 2021-07-05 um 15 42 03" src="https://user-images.githubusercontent.com/315686/124480485-97bdb000-dda7-11eb-853f-6cf93e3acb0e.png">

[2021-07-06 09:18] tpetry opened #236 "Custom docker images"
Is there some way to choose a custom docker image for the databases? Especially PostgreSQL can be optimized a lot by adding different non-standard extensions.

[2021-07-06 15:56] mattstauffer commented on #235
Thanks for the heads up!!

As far as I can tell, we're not customizing the colors at all:

https://github.com/tighten/takeout/blob/2ab35c848b35d1867cef48513b0e9168280866a8/app/Commands/EnableCommand.php#L59-L73

Have you run into this same issue on any other projects that use Symfony's `menu` tooling? If not, I may make a base project with JUST symfony commands and see if I can repro. Thanks!

[2021-07-08 10:48] driesvints commented on #235
Just checked into this again and this seems to be trickling down from https://github.com/nunomaduro/laravel-console-menu to https://github.com/php-school/cli-menu which uses this default color it seems. But I'm unsure how to proceed because if you'd adjust the color to our use cases then it most likely will cause an issue with other terminal setups.

It would be great if the default terminal color

[2021-07-08 10:48] #235 closed

[2021-07-08 17:57] mattstauffer commented on #235
Ahhhh, thanks!

[2021-07-21 16:04] yob-yob opened #238 "Request for Mysql to use mysql/mysql-server to support linux/arm64/v8"
This is the [docker-hub link to mysql-server](https://hub.docker.com/r/mysql/mysql-server/tags?page=1&ordering=last_updated)

this is the [docker-hub link to mysql docker official image](https://hub.docker.com/_/mysql?tab=tags&page=1&ordering=last_updated)

here is a [stackoverflow link comparing both services](https://stackoverflow.com/questions/44854843/docker-is-there-any-difference-between-the

[2021-08-02 14:36] claudiodekker commented on #238
For what it's worth, using `mariadb` instead works just fine on AARM64 👍

[2021-08-05 16:14] mattstauffer opened #244 "Add tests for the custom docker image support introduced in #237"

[2021-08-05 16:15] mattstauffer opened #245 "Update `latest` interpreter to check the tag list for the custom image provided, if provided as in #237"

[2021-08-05 20:17] mattstauffer opened #246 "Do we want beta/etc. to show up for "latest" tag?"
I just got `14beta2-buster` as a `latest` tag and I was wondering whether we actually want that?

It's from `postgres`.

Also, they have things like `14beta2-alpine3.14`, `14beta2-alpine`, and `14beta2-buster`, so I am wondering if we need to find a way to better nuance (for some, at least) which resolves as "latest"? I wouldn't even begin to know which to pick

[2021-08-06 11:31] morloderex commented on #246
@mattstauffer Would it make sense to ask the consumer about what kind of stability package we should use, instead of "just" using the lastest tag given the fact that the lastest tag could be a "alpha", "beta" or anyother kind of non versioned tag?

[2021-08-06 14:49] mattstauffer commented on #246
Good question. My inclination is to provide a "safe" default, probably non-beta (unless @josecanhelp suggests that's not the common action to take in the Docker world), and then remember people can always pass whatever tag they want.. and MAYYYBE we consider some sort of facility to let them list some tags or search tags? Not sure about that last part.

[2021-08-19 21:05] mattstauffer opened #248 "Change Minio for updated authorization info"
Since release `RELEASE.2021-04-22T15-44-28Z.`, `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY` have been deprecated in favor of `MINIO_ROOT_USER` and `MINIO_ROOT_PASSWORD`. I don't know when those two became available, but we need to switch to the new variables for future builds.

The only question is, should we diff depending on the version someone picks and then pass one vs the other? or just drop acc

[2021-08-19 22:34] #248 closed

[2021-08-19 22:34] mattstauffer commented on #248
Fixed in v1.8.11

[2021-08-20 00:23] #244 closed

[2021-08-25 00:50] edalzell commented on #246
Related: https://github.com/tighten/takeout/pull/216#issuecomment-812804285.

Pulling the 10 latest, in Postgres' case doesn't work.

[2021-08-25 02:32] tcampbPPU commented on #230
Hi @mattstauffer or @josecanhelp I feel like this might specific to my own use case, but I use takeout for my database instances. I run a native Linux OS, so for DB management I typically use just plain CLI (`Postgres` or `MySQL`) or I use DBeaver. In the case I created this issue for is sometimes my OS does not have either Postgres or MySQL installed so when I try to do backups or restore from ba

[2021-09-13 09:30] morrislaptop opened #251 "Mongo install fails"
[code]

[2021-09-13 09:33] morrislaptop commented on #251
This might be m1 related actually :/

[2021-09-20 08:17] Ashraam opened #252 "Error The provided cwd "" does not exist. (In Process.php line 347)"
Hi,

Since this morning I've got this error when I try to use takeout start or takeout start --all.

It was working good on friday and no update were applied to the system.

The takeout command works and list available commands.

My PHP version is 7.4.22
Composer: 2.0.14
Takeout version: 1.8.11

[2021-10-13 19:24] mattstauffer commented on #252
@Ashraam Are you still seeing this problem? Thanks!

[2021-10-14 07:19] Ashraam commented on #252
Sorry for not closing the issue, it started to work normally the next morning (still don't know why, I rebooted the system multiple times).

Anyway thank you for this magical package @mattstauffer  !

[2021-10-14 07:19] #252 closed

[2021-10-14 21:25] mattstauffer commented on #252
@Ashraam So glad to hear it! no worries at all, and thanks for your kind words!

[2021-10-20 03:59] #230 closed

[2021-10-20 11:00] Wit3 opened #255 "Network Warning"
From last week, every command in my laravel application ( artisan or composer ) generate 3 row Warning in console.

WARN[0000] network takeout: network.external.name is deprecated in favor of network.name
WARN[0000] network takeout: network.external.name is deprecated in favor of network.name
WARN[0000] network takeout: network.external.name is deprecated in favor of network.name

That's fault of

[2021-11-08 15:11] Wit3 commented on #255
Close the issue because the warning was printed by docker deprecated property when implementing takeout as network in laravel sail docker-composer.yml.

For anyone with this problem, rename in docker-compose.yml this

[code]

to this

[code]

[2021-11-08 15:11] #255 closed

[2021-11-26 20:58] ahoiroman opened #260 "Compatibility to PHP 8.1"
Hello,

using takeout, I am getting this error:

[code]

No problem, I will switch back to 8.0 - is there any ETA for 8.1? Unfortunately I can't contribute by myself at the moment, but I'd be happy to sponsor this package, but the sponsorship-option is disabled.

[2021-11-29 11:23] railto commented on #260
I've taken a look at this and it appears that it just needs a new build to be created against PHP 8.1 and released.

I've installed PHP 8.1 locally and run `composer install` & `./vendor/bin/phpunit`, all seems to run well. I've created a new build with `php ./takeout app:build` and the resulting build appears to work fine.

[2021-11-29 22:34] mattstauffer commented on #260
Merged #261; I'll test out the build process locally shortly.

[2021-11-30 00:40] mattstauffer commented on #260
Hm.. after upgrading to 8.1, I can't even build:

![image](https://user-images.githubusercontent.com/151829/143964755-5e226f90-bc15-42ac-8de4-5b4c54648553.png)

I'll dig into this a bit later

[2021-12-01 16:42] dustinmwang2104 commented on #260
I am getting the same error;
![image](https://user-images.githubusercontent.com/7719701/144275778-c1048ab4-01d0-4997-bb84-e8a6c1ad8eeb.png)

[2021-12-01 17:06] mechelon commented on #251
I think I encountered a similar problem while installing MeiliSearch on M1.

`ERR  WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested`

It says Services enabled, but the container is not started.
Maybe adding a --platform option could work? 🤔

[2021-12-07 18:27] osbre commented on #260
I've got the same error when using Takeout on PHP 8.1:
[code]

[2021-12-08 03:53] chrisdicarlo commented on #260
In case it's useful to anyone dealing with these errors, I thought I would mention what I've done as a workaround. Since I've got PHP 8.1 as my default CLI version (but I've got 7.3-8.0 also installed), I just created an alias in my .zshrc that forces Takeout to run under a specific PHP version, e.g.:

[code]

Not ideal but it lets me run Valet under 8.1 and still maintain a functioning Takeout in

[2021-12-08 07:28] ahoiroman commented on #260
A very good hint.

Don't forget to source your .zshrc after that.

In my case I had to adopt this a little bit (expose has the same problem, and this can also be solved like that):

[code]

[2021-12-08 20:59] mattstauffer commented on #260
Sorry y'all, I've been pretty burned out the last few days. Looking at this again now.

[2021-12-08 21:12] mattstauffer commented on #260
https://github.com/laravel-zero/laravel-zero/issues/367

Looks like this is a known issue. Let me dig into Box but I don't know anything about it so we're probably just dependent on them.

[2021-12-09 00:08] mattstauffer commented on #260
@bakerkretzmar and I put in a PR to two of Laravel Zero's dependencies (PHP Scoper and Covers Validation, IIRC) to try to get PHP 8.1 support. Fingers crossed.

[2021-12-09 03:46] #238 closed

[2021-12-13 13:32] haneez commented on #246
Yes please. Please implement a way to default to LTS, Stable, etc.

[2021-12-13 22:28] mattstauffer commented on #246
I believe we're *not* showing beta. If anyone is seeing betas pulled in, please create a new issue. Thanks!

[2021-12-13 22:28] #246 closed

[2021-12-17 17:33] willvincent opened #264 "Feature Request - host-based buckets for Minio"
minio has included support for host-based (subdomain) buckets for several years, to use it, it's necessary to pass a flag to minio specifying the domain.  AWS will be (at some point) deprecating path-based buckets, so it would be good to at least optionally support this before then.

From a minio github issue back in 2017:

From the docs:

I believe this means if we optionally collect a domain nam

[2021-12-17 18:13] willvincent commented on #264
Have confirmed, with that env var set, dns style buckets work as they should.

[2021-12-26 12:19] delfzzz opened #266 "Docker image difference between mysql/mysql-server and mysql"
Hi, I've just recently upgraded my takeout instance to `v.1.8.12` and noticed that the MySQL service changed from using [mysql](https://hub.docker.com/_/mysql) to [mysql/mysql-server](https://hub.docker.com/r/mysql/mysql-server) because my volume that was create from the `mysql` won't work with the `mysql/mysql-server`. Because of this I'm forced to stick with [v1.8.11](https://github.com/tighten/

[2022-01-04 07:35] willvincent opened #267 "Feature Request - Websocket service(s)"
There are two opensource websocket solutions that provider Pusher compatible websocket servers available, and [mentioned in the official Laravel docs](https://laravel.com/docs/8.x/broadcasting#pusher-compatible-open-source-alternatives).

[Laravel-Websockets](https://beyondco.de/docs/laravel-websockets/getting-started/introduction) is installable as a standard Laravel package, so not relevant here

[2022-01-06 22:19] mattstauffer commented on #260
This is the PR I made to the dependency:

https://github.com/humbug/php-scoper/pull/543

It's still in draft form until the package author can take time to work with it:

[2022-01-16 21:43] josecanhelp commented on #236
It seems like a PR to resolve this was merged. I'll close this issue.

[2022-01-16 21:43] #236 closed

[2022-02-11 10:37] ahoiroman commented on #267
Yeah, I am really looking forward to an integration of soketi. So +1 and thanks for your work, @tighten.

[2022-02-14 17:14] nunomaduro commented on #260
@mattstauffer You can now migrate this tool to Laravel Zero 9, and on the process, you will get this issue fixed.

[2022-02-15 08:27] markwalet commented on #266
From what I've seen, the main difference would be the base image it is based on ([source](https://stackoverflow.com/a/44855167/3912276))

So the base image went from Oracle to Debian. I'm not an expert in this kind of stuff, but I would prefer the Debian version after a small amount of research.

Is this something that is required for you on local development? I can't think of a reason why it real

[2022-02-16 07:38] #267 closed

[2022-02-16 08:03] josecanhelp commented on #266
Hey @delfzzz,

I think maintaining 2 different versions of mysql would be confusing to users.

If I'm understanding your situation correctly, you have a docker volume that is storing data that is compatible with a mysql container that is no longer enabled by the latest version of Takeout.

A solution that I would recommend would be to move that data over to a volume that is compatible with the mys

[2022-02-16 08:04] #266 closed

[2022-02-16 08:45] josecanhelp commented on #251
@morrislaptop Thanks for bringing this up. It is an issue with arm incompatibility, but it's also an issue with how we try to detect the best "latest" tag. Right now, we don't take the host machine's chip architecture into account when finding the best "latest" tag to use. However, there is a tag for mongo that is compatible with m1 arm architecture right now.

When you enable the mongo container

[2022-02-16 08:57] josecanhelp commented on #229
Thanks for the suggestion, @leewillis77.

Grafana seems like a cool project, but very complex. I don't have enough knowledge in some sensible defaults to write the feature myself.

You can post the suggestion in our discussion forum to see if anyone with some deeper Grafana knowledge would be able to contribute: https://github.com/tighten/takeout/discussions/224

[2022-02-16 08:57] #229 closed

[2022-02-19 09:24] #251 closed

[2022-02-23 15:30] bandgeekndb commented on #260
@mattstauffer Now that the upstream issues have been fixed, what's left to do on this repo? This is my last PHP 8.1 blocker, so I'd love to help anyway I can!

[2022-02-24 17:41] mattstauffer commented on #260
@bandgeekndb Thanks! Looks like we need to upgrade it to Laravel Zero 9. I'd welcome that PR!

[2022-02-24 17:42] #264 closed

[2022-02-25 17:42] bandgeekndb commented on #260
#274 was merged yesterday, which should close this once a new build is tagged (1.8.13 was built and tagged before my PR was merged).

I also realize I didn't include any docs updates in my PR, do you want to make a note about dropping PHP7 support? Maybe tag the new release as 2.0 and tell anyone who still needs PHP7 support to stay on the 1.* builds?

[2022-02-28 00:17] delfzzz commented on #266
@josecanhelp yep, dumping and migrating is an option as you've mentioned :)

Just a question, is there no difference in terms of compatibility between the two mysql feature/data handling wise? (minus the incompatibility between volumes in docker)

[2022-03-01 18:19] railto commented on #260
Thanks for the v2.0.0 build Matt. I installed globally and am getting the attached errors (same as previous)
![Screenshot 2022-03-01 at 18 12 59](https://user-images.githubusercontent.com/6123557/156225195-ac13ea1e-e26a-413b-b05f-7b998498b26c.png)

I also tried running the version from repo and same issue. I tried the same build using php 8.0 directly and that appears to work so I tried building f

[2022-03-04 18:29] bandgeekndb commented on #260
@railto Thanks for bringing this up, I believe I know what happened. I only committed the composer.json, and not the .lock file along with it, so I don't think the right dependencies were in place for the 2.0.0 build. I've submitted #278 to fix this and then v2.0.1 should be working.

[2022-03-04 18:38] bandgeekndb opened #279 "Dependency conflict from psr7 package"
If you try to install Takeout after installing another package with Guzzle v7, you cannot install Takeout due to a dependency conflict.

For example, when installing Laravel Envoy, Guzzle v7 is a dependency and it requires the guzzlehttp/psr7 library with the following constraints: `"guzzlehttp/psr7": "^1.8.3 || ^2.1",`

With nothing else constraining the psr7 package, Composer will install at lea

[2022-03-04 21:13] mattstauffer commented on #260
Closed in #274 / #278.

[2022-03-04 21:13] #260 closed

[2022-03-04 21:22] mattstauffer opened #280 "Tlint failing in GH Actions"
<img width="1194" alt="image" src="https://user-images.githubusercontent.com/151829/156843368-1ac4221c-f946-46b1-b78b-081029d65890.png">

Seems to likely be a PHP version issue, but I haven't looked into it yet.

[2022-03-04 21:25] mattstauffer commented on #280
<img width="782" alt="image" src="https://user-images.githubusercontent.com/151829/156843548-46c7bfeb-777f-43d6-abd2-07311b09d2f5.png">

Our lints are running on PHP 7.4, so I'm gonna bump that up.

[2022-03-04 21:26] mattstauffer commented on #280
Closed in https://github.com/tighten/takeout/commit/d8e330017a1bba0d415a08b70e8a2ec633153218

[2022-03-04 21:26] #280 closed

[2022-03-04 21:34] priithansen commented on #260
Seems it still might need a new build published also because still seeing same errors that resolve with local "composer i && php ./takeout app:build"

[2022-03-04 21:37] mattstauffer commented on #260
@priithansen which version is that, 2.0.1 or 2.0.2? Thanks!

[2022-03-04 21:45] priithansen commented on #260
Ah jes impatient me tried 2.0.1. Seems 2.0.2 fixes the iterator return value problem but there appears to be some new problem with plain "takeout" command workig but every other command results in "The provided cwd "" does not exist."
![CleanShot 2022-03-04 at 23 40 54](https://user-images.githubusercontent.com/1476082/156845781-32199276-316c-432e-8311-c3f8756364c6.png)
Yet again doing a local bui

[2022-03-04 21:47] mattstauffer commented on #260
Interesting. I can't reproduce the cwd issue on my machine, but my machine _is_ the one that built it. I'll dig in to see if I can figure out what's going on in Process.php line 344 and what's calling that particular spot, if I can.

[2022-03-04 21:49] mattstauffer opened #281 ""The provided cwd "" does not exist" error"
![image](https://user-images.githubusercontent.com/151829/156846374-2067f839-401a-446f-ad2e-abab2e43a9c6.png)

Error provided in #260 by @priithansen.

Opening a separate issue to move it out of that issue.

I can't reproduce but I'm on the machine that built it so trying to figure out what might be happening.

[2022-03-04 21:52] bandgeekndb commented on #281
Unable to reproduce with v2.0.2 on Ubuntu 20.04 (Windows WSL2). I'm able to list, start, and stop containers without issue.

[2022-03-04 21:53] priithansen commented on #260
It could always just be something funky with my setup although tried to delete global vendors folder and do composer global clearcache :) anyways Thanks for the fantastic package!

[2022-03-04 21:57] priithansen commented on #281
Yes must have been something weird in limbo on my machine as 2.0.2 seems to be now working fine here also!

[2022-03-04 21:57] mattstauffer commented on #281
OH. Easy enough. haha. Thanks!

[2022-03-04 21:57] #281 closed

[2022-03-10 15:46] mattstauffer commented on #279
Thanks for calling this out!

[2022-03-10 16:09] mattstauffer opened #282 "Menu too tall for some screens"
<img width="823" alt="image" src="https://user-images.githubusercontent.com/151829/157705193-eee4a748-6d9a-41d4-9b73-102839340299.png">

Let's look into whether the tool we're using to generate these has multi page options?

[2022-03-12 03:31] #112 closed

[2022-03-22 23:45] njames opened #284 "enable and start use different parameters"
Start needs a container image but enable needs a service name - any chance these can be `consistantified*`?

 takeout start mysql8.0

 ERR  Docker container mysql8.0 not found.

 takeout start ce960ac00aad
 OUT  ce960ac00aad

takeout disable postgres
 OUT  3dbce21477fd
Disabling Service...: ✔

`* made consistent ;)`

[2022-03-23 22:11] njames commented on #284
and it would be great to have the output of `takeout start --all` provide aliases as part of DX

[code]

Just a thought, a nice to have.

[2022-04-05 23:23] JeffBeltran commented on #279
Thanks for pointing that out @bandgeekndb, for me it was having valet installed, once i removed that, installed takeout and then reinstalled valet i was good to go.

[2022-04-15 15:24] tonysm commented on #284
I like the suggestion of accepting the service names as possible values to the start/stop commands. That's definitely some UX improvements, imo.

Changing the output is a bit tricky, I think. What we see there in the `takeout stop` command output is the same output provided by the `docker stop` command. I agree we could add more info to it, just not sure how _easy_ that would be.

I'm taking a loo

[2022-04-22 20:04] tonysm commented on #282
@mattstauffer I've looked into the Laravel Console Menu package ([source](https://github.com/nunomaduro/laravel-console-menu)) and the underlying `cli-menu` package from php-school ([source](https://github.com/php-school/cli-menu)) and looks like there's no option for pagination/scrolling.

We could, technically, limit the number of items displayed in the menu and add an extra "Show More" option o

[2022-05-03 19:52] chrisdicarlo commented on #282
I like that option!

[2022-05-11 04:05] rognales commented on #218
Would love this feature!

[2022-06-08 11:03] njames commented on #284
Hey Tony I looked more at the start output and you are right - it is just the docker output so changing that is tricky.

I have just started doing a list after my start.

Ie `takeout start --all; takeout list;`

[2022-06-29 19:36] morrislaptop opened #293 "SQL Server on Mac M1 fails to start"
Fails with the message: ` ERR  WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested`

If it helps, the following command works `docker run -e "ACCEPT_EULA=1" -e "MSSQL_SA_PASSWORD=MyPass@word" -e "MSSQL_PID=Developer" -e "MSSQL_USER=SA" -p 1433:1433 -d --name=sql mcr.microsoft.com/azure-sql-edge`

Ta

[2022-07-01 01:36] mattstauffer commented on #218
I'm back to thinking about this feature.

Things I've thought about:

[code]

Then when you're filling out the prompts to spin up the container, you'll get an additional prompt:

[code]

or something like this:

[code]

Any thoughts, preferences, other ideas?

[2022-07-01 02:07] mattstauffer commented on #218
@thecrypticace suggests:

[code]

e.g.

[code]

[2022-07-01 02:36] mattstauffer commented on #218
@jakebathman also is on board--pointed out that this is common for Yarn and Composer. I think it's settled.

Now... to code it!

[2022-07-02 02:42] mattstauffer commented on #218
One suggestion for how to possibly handle `--`, from Geoff Selby:

https://twitter.com/geoff_selby/status/1543059001818103808

https://stackoverflow.com/a/71281329

[2022-07-05 22:21] mattstauffer commented on #218
@wunc @billmn @rognales If any of y'all have a moment, would you test out this PR for me?

https://github.com/tighten/takeout/pull/294

Sample syntax:

[code]

[2022-07-06 12:31] rognales commented on #218
Hi @mattstauffer, i ran this command

[code]

But i got this error

[code]

[2022-07-12 19:51] #218 closed

[2022-07-12 19:54] mattstauffer commented on #218
@rognales Oh, sorry! I hadn't committed a build, so it would've needed to be `./takeout enable`.

I pushed this feature out as `v2.1.0`; would you mind testing it out?

https://github.com/tighten/takeout/releases/tag/v2.1.0

[2022-07-28 14:05] MarceauKa opened #296 "PHP error in phar"
Hi, after removing then reinstalling takeout I got this error when I try to run `takeout`

[code]

Takeout: 2.1
Composer: 2.3.5
PHP: 8.0.21

[2022-08-02 21:06] devsquad-alvaro-meireles opened #297 "PHP Error in Phar"
`PHP Parse error:  syntax error, unexpected 'static' (T_STATIC) in phar:///home/user/.config/composer/vendor/tightenco/takeout/builds/takeout/vendor/symfony/string/UnicodeString.php on line 44`

PHP: 7.4
Linux: Linux Mint 20.2
Composer: 2.3.10

[2022-08-05 03:10] mattstauffer commented on #296
Thanks! Closed in 2.1.1

[2022-08-07 01:46] mattstauffer commented on #297
@devsquad-alvaro-meireles This is fixed in v2.1.1, _but_ Takeout no longer officially supports PHP 7.4, so I can't promise you won't have other issues.

[2022-08-07 01:46] #297 closed

[2022-08-17 05:51] modstore commented on #218
I'm not sure if I'm doing something wrong, but I couldn't get this to work.
```takeout enable elasticsearch -- -e "xpack.security.enabled=false"```
gives me this error:
```ERR  docker: Error response from daemon: failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "-e": executable file not found in $PATH: unknown.```

[2022-08-26 17:57] tonysm commented on #293
@morrislaptop I've tested out that image and was able to get it running on my M1 and on my Linux laptop (same image). But is this new image fully compatible with the previous one?

For reference, I've created a branch called `fix/tm-mssql-arm` and here's the [diff](https://github.com/tighten/takeout/compare/main...fix/tm-mssql-arm).

[2022-09-15 14:44] delta1186 opened #299 "Docker run command parameter order"
@mattstauffer I believe that I have identified a bug with the new implementation of #218.  Currently the implementation appends the command to the end of the `$dockerRunTemplate` for each service.
[code]
So say I was trying to run the following command:
` takeout enable mssql --default -- -e '"TZ=America/Chicago"' `
I would get the following output if I was dumping the console commands.
[code]
The

[2022-10-09 05:29] Nilpo commented on #279
I had the same issue by installing Valet first. Since Valet will work with the v1 package, I was able to install takeout by allowing package downgrades with the `-W` flag.

    composer global require tightenco/takeout -W

Of course, this could break other packages. I used this on a new machine with only Valet installed so I knew there wasn't an issue. YMMV. I second adding a v2 constraint.

[2022-11-09 17:47] devsquad-alvaro-meireles opened #301 "Shareable Volume Between Container and Host"
Hey, folks!

I want to know how I can use Takeout MySQL as a way to create a volume to share data between the container and the host. In my current dev environment I use something like that:

![image](https://user-images.githubusercontent.com/98560934/200902647-6d80ab0b-477a-4dac-9f05-0505cc2f2f1c.png)

... So inside the container I have the: "/var/download" that is my "Download" folder, so I'm ab

[2022-11-09 22:26] josecanhelp commented on #301
It sounds like you want to mount a local path into the container so that a dump into that directory would be saved on your host system. Takeout does not offer a way to mount local paths. It only creates a default docker volume so that database data does not get lost when destroying a container.

By design, Takeout is opinionated in order to simplify the creation and destruction of service containe

[2022-11-09 23:07] josecanhelp commented on #301
To add to this, I noticed that Takeout is now allowing passthrough parameters. However, there seems to be a small bug with that feature at the moment. I created a PR #302 to resolve this. Once we can get a fix merged in, it should be relatively simple to add a custom flag when enabling a container like so:

`takeout enable mysql -- -v ~/Downloads:/var/downloads`

[2022-11-09 23:17] ajmeireles commented on #301
Hey, @josecanhelp !

Thank you for your reply. I think your PR will allow doing what I want in Takeout.

I (and I think a lot of other devs) use this "behavior" to provide a way to easily restore database dumps inside a MySQL container: I copy the dump to the `"~/Downloads"`, and after that, I access it in a container and when I navigate to the `"/var/downloads"` I have my `"~/Downloads"` from the

[2022-11-10 12:20] glennjacobs opened #303 "Typesense"
Would you consider including Typesense in Takeout?

https://typesense.org/

[2022-11-18 14:58] #299 closed

[2022-11-21 15:49] #301 closed

[2022-11-28 15:10] larskoole opened #305 "New/better SingleStore dev image"
There's a better option to host SingleStore and that is through the official dev image they have. It's lighter than the cluster-in-a-box image.

[https://github.com/singlestore-labs/singlestoredb-dev-image](https://github.com/singlestore-labs/singlestoredb-dev-image)

Is it possible to update the current image to this new one?

I'm not sure about backward compatibility with the current image (data